.brush{
  .overlay{
    width: 590px;
  }
}

.main-portion {
	#grid {
		.masonry-brick {
			.gridmid-section {
          .axis{
            &.q10-axis{
              text{
                fill: #699d92;
                font-family: @font-thompson-modern-light;
                font-size: 11px;
              }
            }
          }
        }
    }
  }
}