<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>

	<groupId>jwt.cic</groupId>
	<artifactId>jwt-cic-db</artifactId>
	<version>0.0.19</version>
	<packaging>jar</packaging>

	<name>jwt-cic-db</name>
	<url>http://maven.apache.org</url>

	<properties>
		<project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
	</properties>

	<dependencies>
		<dependency>
			<groupId>junit</groupId>
			<artifactId>junit</artifactId>
			<version>3.8.1</version>
			<scope>test</scope>
		</dependency>
	</dependencies>



	<profiles>
		<profile>
			<id>local</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>

			<build>
				<plugins>
					<plugin>
						<groupId>org.flywaydb</groupId>
						<artifactId>flyway-maven-plugin</artifactId>
						<version>4.2.0</version>
						<configuration>
							<url>jdbc:mysql://localhost:3306/jwt-cic?createDatabaseIfNotExist=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC</url>
							<user>jwt</user>
							<password>jwt_pass</password>
						</configuration>
						<dependencies>
							<!-- https://mvnrepository.com/artifact/mysql/mysql-connector-java -->
							<dependency>
								<groupId>mysql</groupId>
								<artifactId>mysql-connector-java</artifactId>
								<version>6.0.6</version>
							</dependency>
						</dependencies>
					</plugin>
				</plugins>
			</build>

		</profile>
		
		<profile>
			<id>development</id>

			<build>
				<plugins>
					<plugin>
						<groupId>org.flywaydb</groupId>
						<artifactId>flyway-maven-plugin</artifactId>
						<version>4.2.0</version>
						<configuration>
							<url>jdbc:mysql://jwt-dcc-dev-1.chvi8lblu4zy.us-west-2.rds.amazonaws.com:3306/jwt_dcc_db_dev?createDatabaseIfNotExist=true</url>
							<user>jwt_root_dev</user>
							<password>jwt_root_pass_dev</password>
						</configuration>
						<dependencies>
							<!-- https://mvnrepository.com/artifact/mysql/mysql-connector-java -->
							<dependency>
								<groupId>mysql</groupId>
								<artifactId>mysql-connector-java</artifactId>
								<version>6.0.6</version>
							</dependency>
						</dependencies>
					</plugin>
				</plugins>
			</build>
		</profile>
		
		<profile>
			<id>qa</id>

			<build>
				<plugins>
					<plugin>
						<groupId>org.flywaydb</groupId>
						<artifactId>flyway-maven-plugin</artifactId>
						<version>4.2.0</version>
						<configuration>
							<url>jdbc:mysql://jwt-dcc-qa-1.chvi8lblu4zy.us-west-2.rds.amazonaws.com:3306/jwt_dcc_db_qa?createDatabaseIfNotExist=true</url>
							<user>jwt_root_qa</user>
							<password>jwt_root_pass_qa</password>
						</configuration>
						<dependencies>
							<!-- https://mvnrepository.com/artifact/mysql/mysql-connector-java -->
							<dependency>
								<groupId>mysql</groupId>
								<artifactId>mysql-connector-java</artifactId>
								<version>6.0.6</version>
							</dependency>
						</dependencies>
					</plugin>
				</plugins>
			</build>
		</profile>
		
	</profiles>

</project>
