.success-model {
  .modal-body {
    padding-top:30px;
    padding-bottom:30px;
    border:1px solid @color-btn;
    .close-icon {
      background-color:@blue-darker;
      color:@color-btn;
      position: absolute;
      top:-9px;
      right:-9px;
      font-size:27px;
    }
    .label {
      font-size:1.1em;
      color:@color-btn;
      padding:0px;
    }
  }
}
