<div class="clientmap-wrap newproject-wrap success-model">
  <div class="modal-body" id="modal-body">
      <span ng-click="$ctrl.close()" class="icon-jwt-close close-icon"></span>
      <label class="label">Project successfully created</label>
  </div>
</div>
