
.chart-cont-q11 {
  .gender-graph-titleText,.demographic-graph-titleText,.age-graph-titleText,.lang-graph-title{
    font-size: 14px;
    font-family: @font-thompson-modern;
    color: @color-blue34;
  }
  .nodisplay{
    display: none;
  }
  .genderTrend{
    float: left;
    width: 100%;
    height: 320px;
    display: none;
    .titleTrend{
      text-align: center;
      width: 100%;
      float: left;
    }
    .graphTrend{
      width: 100%;
      height: 200px;
      float: left;

      .femaleTrend{
        position: relative;
        width:20%;
        height:200px;
        float: left;
        .femaleGenderTrend{
          position: absolute;
          height: 100%;
          width: 53%;
          left: 24.5%;
          top: 0px;
          right: 0px;
          z-index: 1;
          background: url("../../assets/img/Q11/Humanimages-01.svg") no-repeat 0 0;
        }
        .femaleGenderTrendOver{
          position: absolute;
          height: 100%;
          width: 53%;
          left: 25%;
          top: 0px;
          z-index: 2;
          background-color: #16252F;
          opacity: 0.5;

        }
        .femaleGenderTrendOutlay{
          position: absolute;
          height: 100%;
          width: 53%;
          left: 25%;
          top: 0px;
          z-index: 3;
          background: url("../../assets/img/Q11/Humanimages-02.svg") no-repeat 0 0;
        }
      }
      .maleTrend{
        position: relative;
        width:20%;
        height:200px;
        float: left;
        .maleGenderTrend{
          position: absolute;
          height: 100%;
          width: 53%;
          left: 24%;
          top: 0px;
          right: 0px;
          z-index: 1;
          background: url("../../assets/img/Q11/Humanimages-03.svg") no-repeat 0 0;
        }
        .maleGenderTrendOver{
          position: absolute;
          height: 100%;
          width: 53%;
          left: 25%;
          top: 0px;
          z-index: 2;
          background-color: #16252F;
          opacity: 0.5;

        }
        .maleGenderTrendOutlay{
          position: absolute;
          height: 100%;
          width: 53%;
          left: 25%;
          top: 0px;
          z-index: 3;
          background: url("../../assets/img/Q11/Humanimages-04.svg") no-repeat 0 0;
        }
      }
      .genderTrendChart{
      	float: left;
      	width: 60%;
      	height: 200px;
        display: inline-block;
        text-align: center;
        display: none;
      }
    }
    .infoTrend{
      float: left;
      width: 100%;
      height: 75px;
      display: none;
      text-align: center;
      font-family: @font-thompson-Semibold;
      margin-top: 20px;
      .infoTrend-percent-Female{
        float: left;
        width: 11%;
        font-size: 32px;
        color : @color-pink-q11;
        border-right: 1px solid @color-blue33;
        margin-left: 38px;
      }
      .infoTrend-UniverseCount-Female{
        float: left;
        width: 10%;
        color : @color-pink-q11;
        border-right: 1px solid @color-blue33;

      }
      .infoTrend-DaysLeading-Female{
        float: left;
        width: 10%;


      }
      .infoTrend-GenderUniverse{
        float: left;
        width: 28%;

      }
      .infoTrend-DaysLeading-Male{
        float: left;
        width: 10%;

      }
      .infoTrend-UniverseCount-Male{
        float: left;
        width: 10%;
        border-left:  1px solid @color-blue33;
        
      }
      .infoTrend-percent-Male{
        float: left;
        width: 11%;
        font-size: 32px;
        color: @color-blue12;
        border-left: 1px solid @color-blue12;
        font-weight: bold;
        margin-right: 35px;

      }
      .titleText{
        display: block;
        font-size: 13px;
        font-family: @font-thompson-modern;
        color: @color-blue33;

      }
      .valuesText{
        display: block;
        font-size: 16px;
        font-family: @font-thompson-modern;
        color: @color-blue33;

      }
      .valuesTextFemale{
        display: block;
        font-size: 1em;
        font-family: @font-thompson-modern;
        color: @color-pink-q11;
        font-weight: bold;
      }
      .valuesTextmale{
        display: block;
        font-size: 1em;
        font-family: @font-thompson-modern;
        color: @color-blue12;
        font-weight: bold;
      }
    }
    .colapsTrendInfo{
      float: left;
      width: 100%;
      display: block;
      text-align: center;
      margin-top: 20px;
      font-family: @font-thompson-Semibold;
      .infoTrend-percent-Female{
        float: left;
        width: 50%;
        font-size: 32px;
        color : @color-pink-q11;
        font-weight: bold;

      }
      .infoTrend-percent-Male{
        float: right;
        width: 50%;
        font-size: 32px;
        color: @color-blue12;
        font-weight: bold;

      }
    }
  }


    .demographic{
    	float: left;
    	width: 100%;
    	height: 30%;
      display: none;
      margin-top: 20px;
      .demographic-graph-title{
        text-align: center;
      	width: 100%;
      	float: left;
      }
      .demographic-graph-phrase{
        float: left;
        width: 95%;
        margin: 20px auto 10px 20px;
        .demographic-graph-phraseText{
          font-size: 0.818em;
        	font-family: @font-thompson-modern;
        	color: @color-blue33;
          text-align: justify;
          display: inline-block;
        }
      }
      .demographicCateg{
        float: left;
      	margin-top: 5px;
      	width: 20%;
        text-align: center;
        .titleText{
          display: block;
          font-size: 14px;
          font-family: @font-thompson-modern;
          color: @color-blue33;
        }
        .titleText1{
          display: block;
          font-size: 12px;
          font-family: @font-thompson-modern;
          color: @color-blue33;
        }
        .valuesText{
          display: block;
          font-size: 18px;
        	font-family: @font-thompson-modern;
        	color: @color-blue35;
        }
        .logo{
          font-size: 50px;
          font-family: @font-thompson-modern;
        	color: @color-blue35;
        }

      }

    }
    .langAgeChart{
      position: relative;
      width: 100%;
      float: left;
      height: 30%;
      display: none;
      text-align: center;
      .langChart{
        position: relative;
        float: left;
      	width: 64%;
        text-align: center;
        display: inline-block;

        .languageCateg{
          float: left;
        	margin-top: 70px;
        	width: 25%;
          text-align: center;
          .titleText{
            display: block;
            font-size: 13px;
            font-family: @font-thompson-modern;
            color: @color-blue33;
          }
          .valuesText{
            display: block;
            font-size: 16px;
          	font-family: @font-thompson-modern;
          	color: #82c2b2;
          }
          .logo{
            font-size: 50px;
            font-family: @font-thompson-modern;
          	color: @color-blue33;
            float: right;
            &.large{
              height: 62px;
              width: 62px;
              margin-top: -9px;
            }
            &.medium{
              height: 50px;
              width: 50px;
              margin-top: 2px;
            }
            &.small{
              height: 38px;
              width: 38px;
              margin-top: 12px;
            }
            &.others{
              height: 38px;
              width: 38px;
              margin-top: 12px;
            }
          }
          .langInfo{
            float: left;
            display: block;
            margin-top: 15px;
            margin-left: 5px;
          }

        }
      }
      .ageDistChart{
      	float: left;
      	width: 34%;
        height: 100px;
        position: relative;
        display: inline-block;
        text-align: center;
        .age-graph-title{
          text-align: center;
        	width: 100%;
        	float: left;
        }
      }
    }

    .axis-info-labels, .axis {
      fill: @color-blue33;
      font-family: @font-thompson-modern;
      font-size: 13px;
    }
    .path-axis-group path.domain,
    .path-axis-group .tick line{
      stroke : @color-blue33;
    }
    .path-axis-group-age path.domain,
    .path-axis-group-age .tick line{
      opacity: 0;
    }

    .axis path,.axis line {
      fill: none;
      stroke: @color-blue33;
      color: @color-blue33;
      stroke-width: 1;
      shape-rendering: crispEdges;
    }

    .axis text,.gender-mouse-over-component text,.age-mouse-over-component text{
      fill: @color-blue33;
      font-family: @font-thompson-modern;
      font-size: 13px;
    }
    .age-mouse-over-text-bg{
      fill: #172530;
    }
    .gender-mouse-over-text-bg{
      fill: #091b29;
    }
    .gender-mouse-over-component text,.age-mouse-over-component text{
      font-size: 12px;
      fill: #bdd4e6;
      font-weight: 400;
    }
    .gender-mouse-over-component .gender-mouse-over-line,
    .age-mouse-over-component .age-mouse-over-line{
      stroke: @color-blue33;
    }
    .axis text.axis-info-labels{
      font-size: 13px;
    }

}
