.workplace-section {
  width: 100%;
  background-color: @blue;
  .box-shadow(0 3px 16px);
  padding:8px 14px 5px 14px;
  position: fixed;
  bottom:0px;
  z-index:100;
  margin-left:-14px;
  .workplace-title {
    font-size:1.286em;
    color:@color-qn-title;
    line-height:35px;
    .hide{
      display: none;
    }
    .show{
      display: block;
    }
  }
  .collapse-icon {
    font-size:17px;
    color:@color-blue15;
    position: absolute;
    top:11px;
    left:48%;
    padding:5px;
  }
  .btn-newscreen {
    font-size:1em;
    .pull-right;
    margin-right:15px;
    border-right:1px solid @color-blue10;
    padding:2px 15px 2px 5px;
    margin-top:6px;
    i {
      font-size:16px;
      margin-right:6px;
      .pull-left;
      margin-top:2px;
    }
  }
  .btn-launch {
    .pull-right;
    margin-right:6px;
    padding:7px 20px;
  }
    .btn-launch[disabled]{
        cursor: context-menu;

        &:hover{
            background: @color-btn;
        }
    }
  .screen-list {
    background-color: @blue-darker;
    padding:14px 10px 10px 20px;
    margin-top:8px;
    ul {
      margin:0px;
      padding:0px;
      overflow-y: auto;
      max-height: 230px;
      list-style: none;
      li {
        width:161px;
        height:103px;
        text-align: center;
        border:1px solid @color-blue13;
        margin:7px 5px 10px 0;
        .pull-left;
        position: relative;
        .screen-name {
          font-size:1em;
          margin:23px 10px 18px 10px;
          height:30px;
          line-height:22px;
          color:@color-gray6;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 90%;
          .ellipsis;
            &:focus {
                border-radius: 0px;
                border: 1px solid @color-blue13;
                outline: none;
            }
            &.invalid{
              color:@color-error;
            }
        }
          .posRel {
                position: relative;
                top: -29px;
                opacity: 0.8;
          }
          .disButton {
                  opacity: 0.4;
                  cursor: context-menu;
                  color: @color-blue24;
          }
        .launch-link {
          font-size:1em;
          background-color: @color-blue14;
          display: block;
          padding:5px 0px;
        }
        .close-icon {
          display: none;
          font-size:25px;
          position: absolute;
          top:-7px;
          right:8px;
        }
        &:hover {
          .close-icon {
            background-color: @blue-darker;
            border-radius: 17px;
            -moz-border-radius: 17px; 
            -webkit-border-radius: 17px; 
            font-size:25px;
            color:@color-blue15;
            position: absolute;
            top:-7px;
            right:8px;
            display: block;
          }
        }
      }
    }
  }

  .col-sm-6{
    &.col-sm-offset-1{
      width: 46%;
    }
  }
}

.workspace-lower-index .workplace-section {
    z-index:9;
}