<div class="workplace-section">
 <a ng-click="$ctrl.toggleWorkspace();" ng-class="$ctrl.model.toggleArrowClass" class="collapse-icon"></a>
 <div class="row">
   <div class="col-sm-5 workplace-title">Workspace Screens</div>
   <div class="col-xs-12 col-sm-6 col-sm-offset-1 clearfix">
     <button type="button pull-right" class="btn btn-primary btn-launch"
             ng-click="$ctrl.launcAllhWorkspaces();" ng-disabled="!$ctrl.model.atleastOneScreenAssigned"
             >Launch All</button>
     <a ng-click="$ctrl.addNewWorkspace();" class="btn-newscreen"><i  class="icon-jwt-plus"></i>New Screen</a>
   </div>
 </div>

 <div ng-if="$ctrl.dataModel.list.length > 0" ng-class="$ctrl.model.showWorkspace" class="screen-list">
   <ul class="clearfix">
     <li ng-repeat="item in $ctrl.dataModel.list">
        <img ng-if="item.charts[0].snapShot" ng-src="{{item.charts[0].snapShot}}" width="150px;" height="100px;"/>
       <a ng-click="$ctrl.deleteWorkspace(item);" class="icon-jwt-close close-icon"></a>
       <h6 ng-if="!item.charts[0].snapShot" class="screen-name" ng-click="onEditScreenName($event, $index)" ng-blur="updateScreenName($event)">{{item.name}}</h6>

       <a ng-click="$ctrl.launchWorkspace(item);" class="launch-link {{item.charts[0].snapShot ? 'posRel' : ''}} {{item.charts.length <= 0 ? 'disButton' : ''}}">Launch Screen</a>
     </li>
   </ul>
 </div>
 <div ng-if="$ctrl.dataModel.list.length <= 0" ng-class="$ctrl.model.showWorkspace" class="screen-list">
   <div class="workspace-drop-selected btm-cont clearfix">
       <span class="drop-title">No Workspace to Display.</span>
     </div>
 </div>

</div>
