<div class="container-fluid">
  <form name="$ctrl.form" novalidate>

    <div class="alert alert-danger" ng-if="$ctrl.hasApiError()">
      {{ ::$ctrl.apiErrorMessage }} : {{ ::$ctrl.apiErrorDetails }}
    </div>
    <div class="alert alert-danger" ng-if="$ctrl.hasCommunicationError()">
      {{ ::$ctrl.communicationErrorMessage }}
    </div>

    <div class="form-group" ng-if="$ctrl.isUpdateMode()">
      <label for="id">Id:</label>
      <input type="text" ng-model="$ctrl.id" class="form-control" name="id" disabled>
    </div>
    <div class="form-group" ng-if="$ctrl.isUpdateMode()">
      <label for="id">UUID:</label>
      <input type="text" ng-model="$ctrl.uuid" class="form-control" name="uuid" disabled >
    </div>
    <div class="form-group">
      <label for="id">Name:</label>
      <input 
        type="text" class="form-control" name="name" 
        ng-model="$ctrl.name" 
        ng-model-options="{ updateOn: 'default blur', debounce: {'default': 300, 'blur': 0} }"
        required jwt-client-name-exists-validator>
      <p class="small text-info" ng-if="$ctrl.form.name.$pending">
        <span class="glyphicon glyphicon-cog gly-spin" aria-hidden="true"></span> Please wait...
      </p>
      <p class="small text-danger" ng-if="$ctrl.form.name.$error.clientNameExists && $ctrl.form.name.$dirty">
        Client name already exists, please try another one
      </p>
    </div>

    <button type="button" class="btn btn-default pull-right" ng-click="$ctrl.cancel()">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
    </button>

    <button type="button" class="btn btn-primary pull-right button--pulled-margin-right" ng-click="$ctrl.save()" ng-disabled="!$ctrl.isFormValid()">
      <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
    </button>

  </form>
</div>

