<div class="row search-user queries clearfix">

    <div class="form-group">
        <div class="col-sm-10">
            <div class="form-group row ">
                <div class="col-sm-7 input-icon-search">
                    <textarea ng-model="$ctrl.query.queryString" ng-change="$ctrl.updateQueryText()" class="input form-control textareaClass"> {{$ctrl.query.queryString}}
                     </textarea>
                    <span class="icon-jwt-cancel input-icon-close" ng-click="$ctrl.deleteQuery()">  </span>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <div id="typeselect_{{$ctrl.query.id}}" class="selectbox clearfix">
                            <div ng-click="$ctrl.showTypeUl = !$ctrl.showTypeUl" class="form-selectbox">
                                <span>{{ $ctrl.selectedType}} <i class="blue-arrow icon-jwt-arrow-down"></i></span>
                                <ul class="select-list-client" ng-show="$ctrl.showTypeUl ==true">
                                    <li ng-model="$ctrl.query.queryTypeId" ng-repeat="option in   $ctrl.querytypes  track by option.id" ng-click="$ctrl.onQueryLisTypeSelect(option);" ng-if="$ctrl.selectedType!=option.description">{{option.description}}</li>

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>


    </div>

</div>