.chart-cont-q13{

  .wordCloud-expand{
    width: 90%;
    position: relative;
    float: left;
    margin: 0px auto;
  }
  .wordCloud-colaps{
    position: relative;
    margin: 0px auto;
  }
  .wordCloud-options{
    text-align: center;
  }
  .wordCloud-chart{
    height: 300px;
    text-align: center;
    width: 100%;
    &.expand{
      width: 90%;
    }
  }

  .legends-expand{
    width: 6%;
    float: right;
    position: relative;
    margin-top: 50px;
    span{
      display: block;
      height: 29px;
      width: 29px;
      text-align: center;
      margin-bottom: 10px;
    }
  }
    .smilyRed{
      color: @color-red-smily;
      font-size: 2.15em;
    }
    .smilyGreen{
      color: @color-green-smily;
      font-size: 2.15em;
    }
    .color-box-1{
      background-color: #59a95b;
    }
    .color-box-2{
      background-color: #88a959;
    }
    .color-box-3{
      background-color: #eccb30;
    }
    .color-box-4{
      background-color: #d7803c;
    }
    .color-box-5{
      background-color: #bd514c;
    }


  .legends-colaps{
    width: 100%;
    .pull-left;
    text-align: center;
    margin: 14px auto 0px;
    span{
      display: inline-block;
      height:15px;
      width:15px;
    }
    .smilyRed, .smilyGreen{
      font-size: 1.15em;
      margin: 0px 3px;
    }
  }
  .btn-primary{
    background-color: @color-btn-cloud;
    &:hover {
      background-color: @color-btn-cloud;
    }
  }

  .btn-outline {
    &.border-cloud{
      color:@color-btn-cloud;
      border:1px solid @color-btn-cloud;
      &:hover {
        color:@color-btn-cloud;
        border:1px solid @color-btn-cloud;
      }
    }
  }
}
