<div class="grid-item">
  <div class="grid-item-content" id="chartId-q13">
    <div ng-class="masonryelementclass">
      <div class="headsection clearfix">
        <span class="title">{{ question.title }}</span>
        <span ng-show="$ctrl.viewModel.expanded" title="{{ question.qText }}" class="title-question question-text">{{ question.qText }}</span>
        <i ng-if="!$ctrl.isWorkspace" class="expand icon-jwt-resize"></i>
        <i ng-if="!$ctrl.isWorkspace" ng-class="{' active': ($ctrl.isActive && $ctrl.showWorkspaceSelect)}" ng-click="$ctrl.isActive = !$ctrl.isActive;" class="expand icon-jwt-nav"></i>
      </div>
      <div class="gridmid-section clearfix">
        <div ng-if="$ctrl.isActive && $ctrl.showWorkspaceSelect">
          <jwt-workspace-select jwt-chart-id="'q13'"></jwt-workspace-select>
        </div>
        <div ng-show="$ctrl.viewModel.expanded" style="margin-bottom: 10px;">
         	   <div class="chart-info-text">{{ question.description }}</div>
         	   <div>
           		 <span ng-show="$ctrl.dateRanges.dateFrom"><span class="chart-date-range-title"><b>Data Date Range</b></span><span class="chart-date-range-from"><b>From</b> {{$ctrl.dateRanges.dateFrom}} <b>&nbsp;To</b> {{$ctrl.dateRanges.dateTo}}</span></span>
           		 <span  class="chart-last-refresh-date"><i>Last refresh date {{ $ctrl.dateRanges.lastUpdatedDate }} </i></span>
         	   </div>
         	 </div>
        <div class="chart-cont-q13">
          <div class="loaderPlaceHolder"></div>
          <div ng-class="$ctrl.viewModel.expanded ? 'wordCloud-expand' : 'wordCloud-colaps'">
            <div ng-class="$ctrl.viewModel.expanded ? 'show' : 'hide'" class="wordCloud-options">
              <button ng-class="$ctrl.type=='like' ? 'btn-primary' : 'btn-outline border-cloud'" ng-click="$ctrl.changeType('like');" type="button">Like</button>
              <button ng-class="$ctrl.type=='feel' ? 'btn-primary' : 'btn-outline border-cloud'" class="margin-left-15" type="button" ng-click="$ctrl.changeType('feel');">Feel</button>
              <button ng-class="$ctrl.type=='do' ? 'btn-primary' : 'btn-outline border-cloud'" class="margin-left-15" type="button" ng-click="$ctrl.changeType('do');">Do</button>
            </div>
            <div ng-class="$ctrl.isWorkspace ? 'expand' : ''" class="wordCloud-chart"></div>
          </div>
          <div ng-class="$ctrl.dataLoad ? 'show' : 'hide'">
            <div ng-class="$ctrl.viewModel.expanded ? 'legends-expand' : 'legends-colaps'">
              <span class="icon-jwt-Smiley smilyGreen"></span>
              <span class="color-box-1"></span>
              <span class="color-box-2"></span>
              <span class="color-box-3"></span>
              <span class="color-box-4"></span>
              <span class="color-box-5"></span>
              <span class="icon-jwt-Smiley-sad smilyRed"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
