<div class="grid-item">
  <div class="grid-item-content" id="chartId-q2">
    <div ng-class="masonryelementclass">
      <div class="headsection clearfix">
        <span class="title">{{ question.title }}</span>
        <span ng-show="$ctrl.viewModel.expanded" title="{{ question.qText }}" class="title-question question-text">{{ question.qText }}</span>
        <i id="expandTile_1" ng-hide="$ctrl.isWorkspace" class="expand icon-jwt-resize"></i>
        <i ng-if="!$ctrl.isWorkspace" ng-class="{' active': ($ctrl.isActive && $ctrl.showWorkspaceSelect)}" ng-click="$ctrl.isActive = !$ctrl.isActive;" class="expand icon-jwt-nav"></i>
      </div>
      <div class="gridmid-section clearfix">
        <div ng-if="$ctrl.isActive && $ctrl.showWorkspaceSelect">
          <jwt-workspace-select jwt-chart-id="'q2'"></jwt-workspace-select>
        </div>


        <div class="chart-cont-q2">
          <div ng-class="$ctrl.dataLoad ? 'show' : 'hide'">
            <div ng-show="$ctrl.viewModel.expanded" style="margin-bottom: 10px;">
         	   <div class="chart-info-text">{{ question.description }}</div>
         	   <div>
           		 <span ng-show="$ctrl.dateRanges.dateFrom"><span class="chart-date-range-title"><b>Data Date Range</b></span><span class="chart-date-range-from"><b>From</b> {{$ctrl.dateRanges.dateFrom}} <b>&nbsp;To</b> {{$ctrl.dateRanges.dateTo}}</span></span>
           		 <span  class="chart-last-refresh-date"><i>Last refresh date {{ $ctrl.dateRanges.lastUpdatedDate }} </i></span>
         	   </div>
         	 </div>
            <div ng-class="$ctrl.viewModel.expanded ? 'mention-legends-expand' : 'mention-legends-colaps'">
              <div ng-repeat="option1 in $ctrl.summary track by $index" class="mention-legends clearfix">
                <span style="background-color:{{ question.colors[$index]}}" class="mention-info-circle"></span>
                <span class="mention-legends-infoText">{{option1.brand}}</span>
              </div>
            </div>
          </div>
          <div class="mention-line-chart"></div>
          <div ng-class="$ctrl.viewModel.expanded ? 'show' : 'hide'" class="mention-info">
            <ul>
              <li>
                <div class="row-title clearfix">
                  <span>Brand</span>
                  <span>Total</span>
                  <span>Lowest<span class="row-title-date">({{$ctrl.lowestDate}})</span></span>
                  <span>Average</span>
                  <span>Highest<span class="row-title-date">({{$ctrl.highestDate}})</span></span>
                </div>
                <div class=""></div>
              </li>
              <li ng-repeat="option in $ctrl.summary track by $index">
                <div class="row-info clearfix">
                  <span>{{option.brand}}</span>
                  <span class="row-info-total" style="color:{{ question.colors[$index]}}">{{option.total}}</span>
                  <span>{{option.lowest}}</span>
                  <span>{{option.average}}</span>
                  <span>{{option.highest}}</span>
                </div>
                <div class="progressbar-background">
                  <span style="width:{{option.totalPercentage}}%; background-color:{{ question.colors[$index]}} "></span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
