.chart-cont-q2{
  .mention-info{
    margin-top: 30px;
    ul {
      padding-right: 40px;
      li {
        margin-bottom:15px;
      }
    }
    .row-title{
      background-color: @color-blue29;
      font-family: @font-thompson-modern-light;
      font-size: 14px;
      span{
        .pull-left;
        width: 19.5%;
        text-align: center;
        padding: 7px 0;
        .row-title-date{
          font-size: 12px;
          float: none;
          margin-left: 5px;
        }
      }
    }
    .row-info{
      background-color: @color-blue30;
      span{
        .pull-left;
        width: 19.5%;
        text-align: center;
        padding: 7px 0;
        color: @color-blue8;
        font-family: @font-thompson-modern-light;
        font-size: 14px;
        .row-info-total{
          font-size: 14px;
          font-family: @font-thompson-modern;
        }
      }
    }
    .progressbar-background{
      background-color: @color-blue31;
      height: 5px;
      span{
        display: block;
        height: 5px;
      }
    }
  }
  .axis path,.axis line {
    fill: none;
    stroke: @color-blue8;
    color: @color-blue8;
    stroke-width: 1;
    shape-rendering: crispEdges;
  }
  path {
  	fill: none;
  	stroke-width: 2;
  	stroke: steelblue;
  }
  .axis text,.sentiment-mouse-over-component text{
    fill: #597c98;
    font-family: @font-thompson-modern-light;
    font-size: 11px;
  }
  .sentiment-mouse-over-text-bg{
    fill: #091b29;;
  }
  .sentiment-mouse-over-component text{
    font-size: 12px;
    fill: #bdd4e6;
    font-weight: 400;
  }
  .sentiment-mouse-over-component .sentiment-mouse-over-line,
  .sentiment-inter-component .sentiment-intersection-line{
    stroke: #597c98;
  }
  .axis text.axis-info-labels{
    font-size: 13px;
  }
  .mention-info-circle{
    margin-right: 4px;
    padding: 0px 8px;
    .border-radius(100%);
  }
  .mention-legends-expand{
    width: 100%;
    text-align: left;
    padding-left: 10px;
    span{
      height:15px;
      width:15px;
    }
  }
  .mention-legends-colaps{
    width: 100%;
    text-align: center;
    span{
      height:15px;
      width:15px;
    }
  }
  .mention-legends-infoText{
     color: @color-blue8;
     font-size: 12px;
  }
  .mention-legends{
    margin-left: 10px;
    display: inline-block;
  }
  .axis .tick line{
    visibility:hidden;
  }

}
