<div class="container-fluid">
  <form name="$ctrl.form" novalidate>

    <div class="alert alert-danger" ng-if="$ctrl.hasApiError()">
      {{ ::$ctrl.apiErrorMessage }} : {{ ::$ctrl.apiErrorDetails }}
    </div>
    <div class="alert alert-danger" ng-if="$ctrl.hasCommunicationError()">
      {{ ::$ctrl.communicationErrorMessage }}
    </div>

    <div class="form-group" ng-if="$ctrl.isUpdateMode()">
      <label for="id">Id:</label>
      <input type="text" ng-model="$ctrl.id" class="form-control" name="id" disabled>
    </div>
    <div class="form-group" ng-if="$ctrl.isUpdateMode()">
      <label for="id">UUID:</label>
      <input type="text" ng-model="$ctrl.uuid" class="form-control" name="uuid" disabled >
    </div>

    <div class="form-group">
      <label for="id">Client:</label>
      <input type="text" 
      ng-model="$ctrl.client" 
      ng-change="$ctrl.clientChange()"
      class="form-control" name="client" placeholder="Enter a valid client name to proceed" 
      uib-typeahead="client as client.name for client in $ctrl.findAllClientsByNameLike($viewValue)" 
      typeahead-loading="$ctrl.loadingClients" 
      typeahead-no-results="$ctrl.noClients" 
      typeahead-editable="false"
      class="form-control"
      required>
      <p class="small text-info" ng-if="$ctrl.loadingClients">
        <span class="glyphicon glyphicon-cog gly-spin" aria-hidden="true"></span> Please wait...
      </p>
      <p class="small text-info" ng-if="$ctrl.noClients">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> No Results Found
      </p>
    </div>



    <div class="form-group">
      <label for="id">Brand name:</label>
      <input 
        type="text" class="form-control" name="name" 
        ng-disabled="!$ctrl.client" 
        ng-model="$ctrl.name" 
        ng-model-options="{ updateOn: 'default blur', debounce: {'default': 300, 'blur': 0} }"
        required client-id="$ctrl.client.id" jwt-brand-name-exists-validator>
      <p class="small text-info" ng-if="$ctrl.form.name.$pending">
        <span class="glyphicon glyphicon-cog gly-spin" aria-hidden="true"></span> Please wait...
      </p>
      <p class="small text-danger" ng-if="$ctrl.form.name.$error.brandNameExists && $ctrl.form.name.$dirty">
        Brand name already exists, please try another one
      </p>
    </div>

    <button type="button" class="btn btn-default pull-right" ng-click="$ctrl.cancel()">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
    </button>

    <button type="button" class="btn btn-primary pull-right button--pulled-margin-right" ng-click="$ctrl.save()" ng-disabled="!$ctrl.isFormValid()">
      <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
    </button>

  </form>
</div>

