<div class="container">
  <h3>Projects</h3>
  <jwt-keyword-browser on-browse-action="$ctrl.browseAction($event);"></jwt-keyword-browser>

  <table class="table">
    <thead>
      <tr>
        <th>Client</th>
        <th>Brand</th>
        <th>Project</th>
        <th>...</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Pennzoil</td>
        <td>Pennzoil</td>
        <td>Pennzoil</td>
        <td>
          <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</button>
          <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button>
        </td>
      </tr>
      <tr>
        <td>Kleenex</td>
        <td>Kleenex</td>
        <td>Kleenex</td>
        <td>
          <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</button>
          <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button>
        </td>
      </tr>
      <tr>
        <td>Kitkat</td>
        <td>Kitkat</td>
        <td>Kitkat</td>
        <td>
          <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</button>
          <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button>
        </td>
      </tr>
      
    </tbody>
  </table>

</div>