<div class="clearfix margin-top-15">
    <h5 class="subtitle col-sm-7 padding-0 subtitle-lr">Assigned users</h5>
    <button class="btn btn-primary pull-right margin-left-15" ng-click="$ctrl.unassignAllUser($event)" type="button">Unassign all</button>
    <div class="form-group input-icon-search pull-right">
        <input autocomplete="off" type="text" name="client" ng-model="search" class="form-control input searchbar" placeholder="search">
        <a href="" class="icon-jwt-search search-icon"></a>
    </div>
</div>
<div class="margin-top-10">

    <div ng-repeat="users in $ctrl.fillterdlist = $ctrl.assignlist | filter:search | mvPagination : $ctrl.paginationSettings.currentPage : $ctrl.paginationSettings.recordsPerPage">
        <user-item index="$index" userroles="$ctrl.userroles" users="users" on-role-change="$ctrl.onChange($event)" onun-assign="$ctrl.unassignUser(users)" on-un-select="$ctrl.unselectUser(users)"> </user-item>
    </div>
</div>
<div ng-show="$ctrl.assignlist.length > $ctrl.paginationSettings.recordsPerPage" class="text-center margin-top-10">
    <ul uib-pagination ng-show="$ctrl.assignlist.length > 1" total-items="$ctrl.assignlist.length" items-per-page="5" ng-model="$ctrl.paginationSettings.currentPage " class="pagination-sm" boundary-links="true" rotate="false"></ul>
</div>