<div class="form-group">

    <input maxlength="30" no-special-char typeahead-select-on-blur="true" ng-disabled="disableBrand" autocomplete="off" type="text" name="brand" ng-model="model.brand" placeholder="search" uib-typeahead="item.name for item in $ctrl.getLocation($viewValue)"
        typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="input form-control" typeahead-on-select="$ctrl.onSelectionChange($item, $model, $label, $event)">
    <!--    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>-->
    <div ng-show="noResults &&  model.brand.length > 0">
        <i class="glyphicon glyphicon-remove"></i> No Results Found
    </div>
</div>