<div class="form-group">
    <input ng-keypress="$ctrl.onClientSearch($event)" maxlength="30" no-special-char typeahead-select-on-blur="true" autocomplete="off" type="text" name="client" ng-model="model.client" placeholder="search" uib-typeahead="item.name for item in $ctrl.getLocation($viewValue)"
        typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control input" typeahead-on-select="$ctrl.onSelectionChange($item, $model, $label, $event)">
    <div ng-show="noResults && model.client.length > 0">
        <i class="glyphicon glyphicon-remove"></i> No Results Found
    </div>
</div>