<!--
<div class="leftpanel-fix">
  <div class="logo">LOGO</div>
  <nav class="left-nav">
    <ul>
      <li class="icon-jwt-home {{currentState('evaluate') ? 'select' : ''}}" ng-click="$ctrl.changeState('evaluate', this)"></li>
      <li class="icon-jwt-user"></li>
      <li class="icon-jwt-star"></li>
      <li class="icon-jwt-bulb"></li>
      <li class="icon-jwt-timer"></li>
      <li class="icon-jwt-value"></li>
      <li class="icon-jwt-message"></li>
      <li class="icon-jwt-google"></li>
      <li class="icon-jwt-flag {{currentState('clients') ? 'select' : ''}}" ng-click="$ctrl.changeState('clients', this)"></li>
      <li class="icon-jwt-info logout"></li>
      <li ng-click="$ctrl.logout()" class="icon-jwt-logout logout"></li>
    </ul>
  </nav>
</div>
-->
<div class="leftpanel-fix">
    <div class="logo">
        <img src="app/assets/img/logo.svg" width="50px">
    </div>
    <nav class="left-nav">
        <ul>
            <li ng-class="{'select':menu.isSelected}" ng-repeat="menu in $ctrl.dataModel.currentUserMenu" ng-click="$ctrl.changeState(menu)">
                <a class="{{menu.class}}"></a>
            </li>
            <!--
      <li class="icon-jwt-user"></li>
      <li class="icon-jwt-star"></li>
      <li class="icon-jwt-bulb"></li>
      <li class="icon-jwt-timer"></li>
      <li class="icon-jwt-value"></li>
      <li class="icon-jwt-message"></li>
      <li class="icon-jwt-google"></li>
      <li class="icon-jwt-flag {{currentState('clients') ? 'select' : ''}}" ng-click="$ctrl.changeState('clients', this)"></li>
      <li class="icon-jwt-info logout"></li>
      <li ng-click="$ctrl.logout()" class="icon-jwt-logout logout"></li>
-->
        </ul>
    </nav>
</div>