// @color-white: #fff;
.main-portion {
	#grid {
		margin-bottom:45px;
		height: auto !important;
		.masonry-brick {
			background-color: @blue-darker;
			color: @color-white;
			.pull-left;
			// font-size: 16px;
			height:auto;
			margin-bottom:10px;
			width: 100%;
			.headsection {
				display: block;
				padding:0px 0px 0 15px;
				line-height:46px;
				border-bottom:1px solid @color-blue9;
				.title {
					font-size:18px;
          color:@color-blue34;
					font-family: @font-thompson-modern;
					.pull-left;
				}
				.title-question {
					margin-left:20px;
					max-width:60%;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					.pull-left;
				}
				.arrow-down {
					border-left:18px solid transparent;
					border-right:18px solid transparent;
					border-top:18px solid @color-dark3;
					cursor: pointer;
					left:10px;
					position: absolute;
					top:37px;
				}
				.expand {
					cursor: pointer;
					.pull-right;
					font-size:21px;
					padding-left:14px;
					padding-right:14px;
					border-left:1px solid @color-blue9;
					line-height:46px;
					color:@color-blue10;
					&.active {
						color:@color-white;
						border-bottom:1px solid @blue-darker;
						margin-bottom:-1px;
					}
				}
			}
			.gridmid-section {
				padding:10px 15px;
				position: relative;
				.screen-select {
					margin-top:5px;
					margin-bottom:20px;
					background-color: @blue;
					padding:2px 0px;
					.form-select {
						background-color: @blue;
					}
				}
				.launch-black {
					width:100%;
					background-color: @color-dark1;
					padding:15px 0px;
					display: block;
					position: absolute;
					bottom:0px;
					left:0px;
					font-size:1.143em;
					color:@color-btn;
					text-align:center;
				}
			}

			.axis {
				path {
					fill: none;
					shape-rendering: crispEdges;
					stroke-width: 1;
					stroke: #597c98;
				}
			}

			/* Stylings for Q10 Volume chart timeseries override */
			.timeseries-svg {
				.axis {
					&.q10-axis{
						path{
							stroke: @time-color-axis-brdr;
						}
					}
				}
				.selection{
					fill: @time-brush-area !important;
					stroke: @time-brush-border;
				}
			}

		}
		.masonry-brick.big-tile {
			height: auto;
			/*width: 65.6%;*/
			.chart-cont-q12-ratio{
				.ratio-chart-cont{
					.node {
						span.text-ratio{
							width: 95%;
							span.text-topic-top{
								/*.not-ellipsis;*/
							}
						}
					}
				}
			}
		}
		.masonry-brick.big-tile.popped-window {
			width: 80%;
		}
	}
}

.axis {
	line {
		fill: none;
		shape-rendering: crispEdges;
		stroke-width: 1;
		stroke: @color-blue8;
	}
}
.chart-text-phrase{
	font-size: 13px;
	margin: 10px 0px 15px;
}
.chart-cont-q12-ratio{
	.ratio-chart-cont{
		position: relative;
		margin: 0px auto 0px;
		.node {
			border: solid 1px @color-dark2;
			font-family: @font-regular;
			font-size: 12px;
			line-height: 1.3;
			overflow: hidden;
			position: absolute;
			text-indent: 0px;
			font-weight: 400;
			span.text-ratio{
				display: block;
				position: absolute;
				bottom: 5px;
				left: 5px;
				width: 90%;
				.ellipsis;
				span.text-ratio-unit{
					display: inline-block;
					margin-left: 1px;
				}
				span.text-topic,
				span.text-topic-top{
					display: block;
					.ellipsis;
					span{
						display: block;
						font-weight: normal;
						text-overflow: ellipsis;
						white-space: nowrap;
						overflow: hidden;
						&.text-ratio-unit{
							display: inline-block;
							position: absolute;
						}
					}
					&.hide{
						display: none;
					}
				}
			}
		}
	}
}
.chart-cont-q12-post{
	.text-cont{
		font-family: @font-regular;
		font-weight: bold;
		.text-subtopic{
			font-weight: normal;
		}
		.text-unit{
			font-weight: normal;
		}
	}
	.text-cont.small-clouds{
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}
.post-interests-tooltip,
.ratio-tooltip{
	position: absolute;
	z-index: 2;
	visibility: hidden;
	padding: 10px;
	background-color: @color-q12post-tooltip-bg;
	opacity: .75;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
span.tooltip-topic,
span.tooltip-subtopic,
span.ratio-tooltip-topic,
span.ratio-tooltip-subtopic{
	display: block;
	padding: 0px 10px;
	font-family: @font-regular;
	font-weight: bold;
}
span.tooltip-subtopic,
span.ratio-tooltip-subtopic{
	font-weight: normal;
}
.ratio-tooltip{
	min-width: 190px;
	span.ratio-tooltip-topic{
		color: @color-blue35;
	}
	span.ratio-tooltip-subtopic{
		color: @color-blue32;
	}
}
.chart-cont-q9 .axis path,
.chart-cont-q9 .axis line {
  fill: none;
  stroke: @color-blue8;
  color: @color-blue8;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
.chart-cont-q9 path {
	fill: none;
	stroke-width: 2;
	stroke: steelblue;
}
.chart-cont-q9 .sentiment-graph{
  margin-left: -10px;
}
.chart-cont-q9 .axis text,
.chart-cont-q9 .sentiment-mouse-over-component text,
.question7-1 .brands-mouse-over-component text{
   fill: #597c98;
  font-family: @font-thompson-modern-light;
  font-size: 11px;
}
.sentiment-mouse-over-text-bg{
	fill: #091b29;;
}
.brands-mouse-over-text-bg,
.brands-date-bg{
  fill: #172530;
}
.chart-cont-q9 .sentiment-mouse-over-component text,
.question7-1 .brands-mouse-over-component text{
  font-size: 12px;
  fill: #bdd4e6;
  font-weight: 400;
}
.chart-cont-q9 .sentiment-mouse-over-component .sentiment-mouse-over-line,
.chart-cont-q9 .sentiment-inter-component .sentiment-intersection-line{
  stroke: #597c98;
}
.chart-cont-q9 .axis text.axis-info-labels{
  font-size: 13px;
}
.chart-cont-q9 .sentiment-bar{
  stroke:#172530;
  stroke-width:0.1em;
  height: 22px;
}
.chart-cont-q9 .sentiment-graph-bar .bar-range-date{
  fill: #fefefe;
  font-family: @font-thompson-modern-light;
  font-size: 11px
}
.main-portion #grid .masonry-brick .question-text{
	font-family: @font-thompson-modern;
	font-size: 16px;
  color: @color-blue33;
}
.main-portion #grid .masonry-brick .chart-info-text{
	font-family: @font-thompson-modern;
	font-size: 13px;
  color: @color-blue32;
	margin: 0px 0px 0px 20px;
}
.main-portion #grid .masonry-brick .chart-last-refresh-date{
	font-family: @font-thompson-modern;
	font-size: 13px;
  color: @color-blue32;
	margin: 10px 0px 10px 20px;
}
.main-portion #grid .masonry-brick .chart-date-range-title{
	font-family: @font-thompson-modern;
	font-size: 13px;
  color: @color-blue34;
	margin: 10px 0px 20px 20px;
}
.main-portion #grid .masonry-brick .chart-date-range-from{
	font-family: @font-thompson-modern;
	font-size: 13px;
  color: @color-blue33;
	margin: 0px 0px 0px 10px;
}
.spacer30btm{
  margin-bottom: 30px;
}
.spacer10btm{
   margin-bottom: 10px;
 }
.spacer10lft{
  margin-left: 10px;
}
.chart-cont-q13,
.chart-cont-q7,
.chart-cont-q12-ratio,
.chart-cont-q15,
.chart-cont-q8,
.chart-cont-q12-post,
.chart-cont-q9,
.chart-cont-q10,
.chart-cont-q11,
.chart-cont-q14{
   min-height: 366px;
 }
.chart-cont-q8 .themes-graph-colaps{
  .pull-left;
	margin-top: 10px;
}
.chart-cont-q8 .themes-graph-expand{
	width: 25%;
	margin: 0px auto 10px;
  .pull-left;
}
.chart-cont-q8 .themes-graph-expand-title{
	font-size: 14px;
  font-family: @font-regular;
	text-anchor: middle;
}
.chart-cont-q8 .themes-graph-colaps-title {
	font-size: 14px;
  font-family: @font-regular;
	text-anchor: middle;
}
.chart-cont-q8 .themes-graph-colaps-percentVal {
	font-size: 16px;
  font-family: @font-regular;
	text-anchor: middle;
}
.chart-cont-q8 .themes-graph-expand-percentVal {
	font-size: 16px;
  font-family: @font-regular;
	text-anchor: middle;
}
.chart-cont-q8  .themes-graph-expand-donut{
	.pull-left;
	width: 50%;
}
.chart-cont-q8  .themes-graph-expand-mood{
	.pull-left;
	width: 40%;
	margin-top: 36px;
}
.chart-cont-q8  .smiley-positive{
	margin-right: 8px;
	color: @color-green-smily-q8;
	font-size: 14px;
	font-family: @font-regular;
}
.chart-cont-q8  .smiley-negative{
	margin-right: 8px;
	color: @color-red-smily-q8;
	font-size: 14px;
	margin-top: 6px;
  font-family: @font-regular;
}
.chart-cont-q8 .themes-graph-refer{
	margin-top: 10px;
	margin-left: 20px;
	height: 80px;
	width: 100px;
	.pull-left;

}
.chart-cont-q8 .themes-graph-referText{
	font-size: 13px;
	font-family: @font-regular;
	color: @color-blue33;

}
.chart-cont-q8 .themes-graph-referPos{
	.pull-left;
	margin-top: 7px;
	color: @color-blue8;

}
.chart-cont-q15 {
	.category-names{
		font-size: 16px;
		font-family: @font-regular;
		fill: @color-blue35;
	}
	.category-volume{
		font-size: 20px;
		font-family: @font-regular;
	}
}

/*----------------- Responsive CSS -----------------*/

// @media screen and (min-width: 768px) and (max-width: 991px) {
// 	.main-portion {
// 		#grid {
// 			.masonry-brick {
// 				width: 96%;
// 			}
// 		}
// 	}
// }
@media screen and (max-width: 800px) {
	.main-portion {
		#grid {
			.masonry-brick {
				width: 96%;
				min-width: 365px;
			}
			.grid-item,
			.grid-sizer {
				width: 96%;
				min-width: 365px;
			}
			.masonry-brick.big-tile {
				height: auto;
				width: 96%;
			}
			.masonry-brick.big-tile.popped-window {
				width: 96%;
			}

			/* Demographic */
			.infoTrend{
				.infoTrend-percent-Female{
					margin-left: 32px;
				}
				.infoTrend-percent-Male{
					margin-right: 28px;
				}
				.titleText{
					font-size: 0.6em;
				}
				.valuesText{
					font-size: .9em;
				}
				.valuesTextFemale{
					font-size: .9em;
				}
				.valuesTextmale{
					font-size: 0.9em;
				}
			}

			.axis-info-labels, .axis {
				font-size: 10px;
			}


			.languageCateg{
				margin-top: 80px;
				margin-left: 0px;
          .titleText{
            font-size: 10px;
          }
          .valuesText{
            font-size: 12px;
          }
          .logo{
            font-size: 40px;

            &.large{
              height: 48px;
              width: 48px;
              margin-top: -16px;
            }
            &.medium{
              height: 36px;
              width: 36px;
              margin-top: -4px;
            }
            &.small{
              height: 24px;
              width: 24px;
              margin-top: 6px;
            }
						&.others{
              height: 24px;
              width: 24px;
							margin-top: 6px;
            }
          }
					.langInfo{
            margin-top: 5px;
          }
			}

			.graphTrend{
				&.colapsTrend{
		      .femaleTrend{
		        .femaleGenderTrend{
							width: 63%;
		          left: 37.5%;
		        }
		        .femaleGenderTrendOver{
							width: 63%;
		          left: 38%;
		        }
		        .femaleGenderTrendOutlay{
							width: 63%;
		          left: 38%;
		        }
		      }
		      .maleTrend{
		        .maleGenderTrend{
							width: 63%;
		          left: 37%;
		        }
		        .maleGenderTrendOver{
							width: 63%;
		          left: 38%;
		        }
		        .maleGenderTrendOutlay{
							width: 63%;
		          left: 38%;
		        }
		      }
				}
	    }

			.graphTrend{
	      .femaleTrend{
	        .femaleGenderTrend{
						width: 63%;
	          left: 19.5%;
	        }
	        .femaleGenderTrendOver{
						width: 63%;
	          left: 20%;
	        }
	        .femaleGenderTrendOutlay{
						width: 63%;
	          left: 20%;
	        }
	      }
	      .maleTrend{
	        .maleGenderTrend{
						width: 63%;
	          left: 19%;
	        }
	        .maleGenderTrendOver{
						width: 63%;
	          left: 20%;
	        }
	        .maleGenderTrendOutlay{
						width: 63%;
	          left: 20%;
	        }
	      }
	    }


			/* Themes - Q8 */
			.chart-cont-q8  .themes-graph-expand-mood{
				.pull-right;
				margin-right: 0px;
				position: absolute;
				right: 0px;
			}
			.chart-cont-q8 .themes-graph-expand{
				position: relative;
			}

		}
	}
}


@media screen and (min-width: 1900px) {
	.main-portion {
		#grid {
			.infoTrend{
				.infoTrend-percent-Female{
					margin-left: 60px;
				}
			}
			.graphTrend{
	      .femaleTrend{
	        .femaleGenderTrend{
	          left: 33.5%;
	        }
	        .femaleGenderTrendOver{
	          left: 34%;
	        }
	        .femaleGenderTrendOutlay{
	          left: 34%;
	        }
	      }
	      .maleTrend{
	        .maleGenderTrend{
	          left: 33%;
	        }
	        .maleGenderTrendOver{
	          left: 34%;
	        }
	        .maleGenderTrendOutlay{
	          left: 34%;
	        }
	      }
	    }

			.chart-cont-q8 .themes-graph-colaps{
				margin-top: 35px;
			}
		}
	}
}

@media screen and (min-width: 1600px) and (max-width: 1899px) {
	.main-portion {
		#grid {
			.infoTrend{
				.infoTrend-percent-Female{
					margin-left: 4%;
				}
			}
			.graphTrend{
				&.colapsTrend{
		      .femaleTrend{
		        .femaleGenderTrend{
		          left: 31.5%;
		        }
		        .femaleGenderTrendOver{
		          left: 32%;
		        }
		        .femaleGenderTrendOutlay{
		          left: 32%;
		        }
		      }
		      .maleTrend{
		        .maleGenderTrend{
		          left: 31%;
		        }
		        .maleGenderTrendOver{
		          left: 32%;
		        }
		        .maleGenderTrendOutlay{
		          left: 32%;
		        }
		      }
				}
	    }

			.chart-cont-q8 .themes-graph-colaps{
				margin-top: 30px;
			}
		}
	}
}

@media screen and (min-width: 801px) and (max-width: 1279px) {
	.main-portion {
		#grid {
			.grid-item.is-expanded {
					width: 96%;
			}
		}
	}
}




.grid-item,
.grid-sizer {
  width: 32.5%;
	min-width: 365px;
}

.grid-item {
  float: left;
  min-height: 366px;
	margin-right:10px;
}

/* grid-item-content is visible, and transitions size */
.grid-item-content {
  width: 100%;
  min-height: 366px;
  -webkit-transition: width 0.2s, height 0.2s;
          transition: width 0.2s, height 0.2s;
}

/* item content change size */
.grid-item.is-expanded {
  width: 65.6%;
}
.loader{
	width:120px;
	height: 120px;
	position: absolute;
	top: 120px;
	left: 35%;
  background: url(../../assets/img/loader.gif) no-repeat 0 0;
	z-index: 1;
}
.timeSeriesTics{
  g:last-child{
		&:last-child{
	    opacity: 0;
	    }
    }
  }
