<div class="main-rtpanel" ng-class="{'new-wind-rtpanel':$ctrl.isWorkspace}">
    <div class="main-portion margin-top-15">
        <div id="grid" class="clearfix">

            <div class="grid-sizer"></div>

            <jwt-question-evaluate-7 show-workspace-select="$ctrl.viewModel.showWorkspaceSelect" is-workspace="false" jwt-chart-id="'q7'"></jwt-question-evaluate-7>

            <jwt-question-evaluate-8 show-workspace-select="$ctrl.viewModel.showWorkspaceSelect" is-workspace="false" jwt-chart-id="'q8'"></jwt-question-evaluate-8>

            <jwt-question-evaluate-9 show-workspace-select="$ctrl.viewModel.showWorkspaceSelect" is-workspace="false" jwt-chart-id="'q9'"></jwt-question-evaluate-9>

            <jwt-question-evaluate-10 show-workspace-select="$ctrl.viewModel.showWorkspaceSelect" is-workspace="false" jwt-chart-id="'q10'"></jwt-question-evaluate-10>

            <jwt-question-evaluate-11 show-workspace-select="$ctrl.viewModel.showWorkspaceSelect" is-workspace="false" jwt-chart-id="'q11'"></jwt-question-evaluate-11>

            <jwt-question-evaluate-12-ratio show-workspace-select="$ctrl.viewModel.showWorkspaceSelect" is-workspace="false" jwt-chart-id="'q12ratio'"></jwt-question-evaluate-12-ratio>

            <jwt-question-evaluate-12-post show-workspace-select="$ctrl.viewModel.showWorkspaceSelect" is-workspace="false" jwt-chart-id="'q12post'"></jwt-question-evaluate-12-post>

            <jwt-question-evaluate-13 show-workspace-select="$ctrl.viewModel.showWorkspaceSelect" is-workspace="false" jwt-chart-id="'q13'"></jwt-question-evaluate-13>

            <jwt-question-evaluate-14 show-workspace-select="$ctrl.viewModel.showWorkspaceSelect" is-workspace="false" jwt-chart-id="'q14'"></jwt-question-evaluate-14>

            <jwt-question-evaluate-15 show-workspace-select="$ctrl.viewModel.showWorkspaceSelect" is-workspace="false" jwt-chart-id="'q15'"></jwt-question-evaluate-15>
        </div>

        <!--<jwt-workspace-list ng-if="!$ctrl.isWorkspace"></jwt-workspace-list>-->
    </div>
</div>