<div class="row">
  <form name="$ctrl.form" novalidate>
    <div class="col-md-8">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" 
        name="keyword" ng-model="$ctrl.keyword" 
        jwt-enter-key-press="$ctrl.browse();" required
        ng-pattern="/^[a-z0-9]+$/i">
      </div>
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-default btn-block" ng-click="$ctrl.browse();" ng-disabled="$ctrl.isBrowseDisabled();">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Browse
      </button>
    </div>
    <div class="col-md-2">
      <button class="btn btn-default btn-block" ng-click="$ctrl.refresh();">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh
      </button>
    </div>
  </form>
</div>

<div class="row" ng-if="$ctrl.form.$dirty">
  <ul>
    <li class="text-danger" ng-repeat="errType in $ctrl.getFormErrors()" >
      {{ ::$ctrl.getErrorMessage(errType) }}
    </li>
  </ul>
</div>