.main-portion {
	#grid {
		.masonry-brick {
			.gridmid-section {
        .chart-cont-q15{
            width:60%;
            float:left;
        }
        .chart-references{
            font-family: @font-thompson-modern;
            width:40%;
            position: relative;
            float:right;
            margin-top:90px;
            .reference-title{
                font-size: 18px;
                color:#5e829f;
                margin-left: 10px;
                margin-bottom:10px;
            }
            
        .conversation-info-circle{
            margin-right: 4px;
            padding: 0px 8px;
            .border-radius(100%);
          }

        .conversation-legends-infoText{
            color: @color-blue8;
            font-family: @font-thompson-modern;
                font-size: 16px;
                color:#5e829f;
          }
          .conversation-legends{
            margin-left: 10px;
            margin-bottom: 10px;
          }

        }
      }
      &.big-tile {
              .gridmid-section {
                .chart-cont-q15{
                  width:60%;
                }
                .chart-references{
                  width:40%;
                  margin-top:140px;
                }
              }
          }
    }
  }
}

@media screen and (max-width: 800px) {
	.main-portion {
		#grid {
			.masonry-brick {
        &.big-tile {
          .gridmid-section {
            .chart-cont-q15{
              
            }
            .chart-references{
              width:35%;
            }
          }
          
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
	.main-portion {
		#grid {
			.masonry-brick {
        .gridmid-section {
            .chart-cont-q15{
              width:45%;
            }
            .chart-references{
              width:45%;
            }
          }
        
      }
    }
  }
}
