<div class="grid-item">
    <div class="grid-item-content" id="chartId-q15">
        <div ng-class="masonryelementclass">
            <div class="headsection clearfix">
                <span class="title">{{ question.title }}</span>
                <span ng-show="$ctrl.viewModel.expanded" title="{{ question.qText }}" class="title-question question-text">{{ question.qText }}</span>
                <i ng-if="!$ctrl.isWorkspace" class="expand icon-jwt-resize"></i>
                <i ng-if="!$ctrl.isWorkspace" ng-class="{' active': ($ctrl.isActive && $ctrl.showWorkspaceSelect)}" ng-click="$ctrl.isActive = !$ctrl.isActive;" class="expand icon-jwt-nav"></i>
            </div>

            <div class="gridmid-section clearfix">
                <div ng-if="$ctrl.isActive && $ctrl.showWorkspaceSelect">
                    <jwt-workspace-select jwt-chart-id="'q15'"></jwt-workspace-select>
                </div>
                <div ng-show="$ctrl.viewModel.expanded" style="margin-bottom: 10px;">
                    <div class="chart-info-text">{{ question.description }}</div>
                    <div>
                        <span ng-show="$ctrl.dateRanges.dateFrom"><span class="chart-date-range-title"><b>Data Date Range</b></span><span class="chart-date-range-from"><b>From</b> {{$ctrl.dateRanges.dateFrom}} <b>&nbsp;To</b> {{$ctrl.dateRanges.dateTo}}</span></span>
                        <span class="chart-last-refresh-date"><i>Last refresh date {{ $ctrl.dateRanges.lastUpdatedDate }} </i></span>
                    </div>
                </div>
                <div class="chart-cont-q15"></div>
                <div class="chart-references">
                    <div class="reference-title">References</div>
                    <div>
                        <div ng-repeat="option1 in $ctrl.data track by $index" class="conversation-legends clearfix">
                            <span style="background-color:{{ $ctrl.textColor[$index]}}" class="conversation-info-circle"></span>
                            <span class="conversation-legends-infoText" style="color:{{ $ctrl.textColor[$index]}}">{{option1.displayName}}</span>
                            <span class="conversation-legends-infoText">  {{option1.indicatorValue}}</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>