.chart-cont-q14{
  .expand-margin{
    margin-left: 11%;
    margin-right: 11%;
  }
  .emotions-graph-colaps{
    float: left;
    margin-top: 35px;
    text-align: center;
    width: 25%;
  }
  .emotions-graph-expand{
    float: left;
  	width: 25%;
    text-align: center;
    margin-top: 15px;
  }
  .emotions-graph-expand-title{
    font-size: 16px;
    font-family: @font-regular;
    color: @color-text-tilte-q14;
  	text-anchor: middle;

  }
  .emotions-graph-expand-value{
    font-size: 16px;
    font-family: @font-regular;
    color: @color-blue32;
  	text-anchor: middle;
    margin-left: 6px;
  }
  .emotions-graph-colaps-title {
    font-size: 14px;
    font-family: @font-regular;
    color: @color-text-tilte-q14;
  	text-anchor: middle;
  }
  .emotions-graph-colaps-value{
    font-size: 14px;
    font-family: @font-regular;
    color: @color-blue32;
  	text-anchor: middle;
    margin-left: 4px;
  }
  .emotions-smily-expand{
    font-family: @font-light;
  	text-anchor: middle;
    color: @color-blue8;
    font-size: 2.4em;
  }
  .emotions-smily-colaps{
    font-family: @font-light;
  	text-anchor: middle;
    color: @color-blue33;
    font-size: 2.1em;
  }

}
