<div class="col-sm-12">
    <h5 class="subtitle margin-top-25">Infegy queries</h5>
    <div class="row  client queries dropdown-autosearch margin-top-20">

        <div>
            <div class="col-sm-10">
                <div class="form-group row ">
                    <div class="col-sm-7 input-icon-search">
                        <textarea ng-change="$ctrl.validateQuery()" ng-model="$ctrl.model.queryString " ng-disabled="$ctrl.project.length==0" class="input form-control textareaMainClass ">
                                </textarea>

                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <div id="typeselect" class="selectbox clearfix">
                                <div ng-click="$ctrl.viewModel.showTypeUl = !$ctrl.viewModel.showTypeUl && $ctrl.project" class="form-selectbox">
                                    <span>{{$ctrl.selectedType}} <i class="blue-arrow icon-jwt-arrow-down"></i></span>
                                    <ul class="select-list-client" ng-show="$ctrl.viewModel.showTypeUl">
                                        <li ng-repeat="option in   $ctrl.dataModel.queryTypes  track by option.id" ng-click="$ctrl.onQueryTypeSelect(option);" ng-if="$ctrl.selectedType!=option.description">{{option.description}}</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button ng-disabled="!$ctrl.validation.assignQuery" class="btn btn-primary btn-block" ng-click="$ctrl.onAssignQuery()" type="button">Add</button>
                    </div>
                </div>
            </div>


        </div>

    </div>

    <div class="margin-top-10" ng-if="$ctrl.querylist.length > 0">
        <div ng-repeat="queries in $ctrl.fillterdlist = $ctrl.querylist | filter:search | mvPagination : $ctrl.paginationSettings.currentPage : $ctrl.paginationSettings.recordsPerPage">
            <query-item on-delete-query="$ctrl.deleteQuery(queries)" on-update-query="$ctrl.updateQuery(queries)" index="$index" query="queries" querytypes="$ctrl.dataModel.queryTypes"> </query-item>
        </div>
    </div>

    <div ng-show="$ctrl.querylist.length > $ctrl.paginationSettings.recordsPerPage" class="text-center margin-top-10">
        <ul uib-pagination ng-show="$ctrl.querylist.length > 1" total-items="$ctrl.querylist.length" items-per-page="5" ng-model="$ctrl.paginationSettings.currentPage " class="pagination-sm" boundary-links="true" rotate="false"></ul>
    </div>


</div>