<div class="main-rtpanel container-fluid">
    <div class="main-portion clientmap-wrap">
        <toaster-container toaster-options="{'close-button':true, 'time-out':{ 'toast-warning': 2000, 'toast-error': 0 } }"></toaster-container>
        <div class="row clearfix">
            <h2 class="col-sm-4 page-title">CLIENT MAPPING</h2>
            <!--updated -->
        </div>

        <ul class="nav-subtabs tabs clearfix">
            <li role="presentation"><span><a class="active" ng-class="{ active: $ctrl.isSet('client') }" ng-click="$ctrl.setTab('client')" href="">Manage Projects</a></span></li>
            <li role="presentation"><span><a class="active1" ng-class="{ active: $ctrl.isSet('user') }" ng-click="$ctrl.setTab('user')" href="">Search Users</a></span></li>
        </ul>

        <div ng-show="$ctrl.tab=='client'" class="form maping-form">

            <!--<h5 class="subtitle margin-top-25">Client Filtering</h5>-->
            <div class="row client dropdown-autosearch margin-top-20">
                <div class="col-sm-3">

                    <div class="form-group">
                        <label>Client</label>
                        <div class="input-icon-search">
                            <jwt-client-search clearsearch="$ctrl.clearSearch" on-client-select="$ctrl.onClientSelect(client)"></jwt-client-search>
                            <div ng-click="$ctrl.onClientSelect($ctrl.client)" class="icon-jwt-search search-icon"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Brand</label>
                        <div class="input-icon-search">
                            <jwt-brand-search client="$ctrl.client" clearsearch="$ctrl.clearSearch" on-brand-select="$ctrl.onBrandSelect(brand)"></jwt-brand-search>
                            <div class="icon-jwt-search search-icon" ng-click="$ctrl.onBrandSelect($ctrl.brand)"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Project Name</label>
                        <div class="input-icon-search">
                            <jwt-project-search client="$ctrl.client" clearsearch="$ctrl.clearSearch" brand="$ctrl.brand" on-project-select="$ctrl.onProjectSelect(project)"></jwt-project-search>
                            <div href=" " class="icon-jwt-search search-icon" ng-click="$ctrl.onProjectSelect($ctrl.project)"></div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row margin-top-15 ">
                <div class="col-sm-10 " id="project-table ">

                    <section class="main " ng-if="$ctrl.projectList.length> 0">
                        <project-list list="$ctrl.projectList" savepending="$ctrl.validate" currentpage="$ctrl.paginationSettings.currentPage" recordsperpage="$ctrl.paginationSettings.recordsPerPage" on-update="$ctrl.updateProject($event)" on-delete="$ctrl.deleteProject($event)"
                            on-select="$ctrl.selectProject($event)" selctedproject="$ctrl.selectedProject"> </project-list>
                    </section>
                </div>
            </div>
            <div class=" row " ng-if="$ctrl.selectedProject.item.id>0">
                <div class="col-sm-10 assignuser-table userlist-tbl">
                    <section class="main" ng-if="$ctrl.userList.length > 0">
                        <user-list assignlist="$ctrl.userList" userroles="$ctrl.userRole" on-un-select="$ctrl.unselectUser($event)" onun-assign="$ctrl.unassignUser($event)" on-role-change="$ctrl.changeUserRole($event)" onun-assign-all="$ctrl.unassignAllUser($event)"> </user-list>
                    </section>
                </div>

            </div>

            <div class="row" ng-if="$ctrl.selectedProject.item.id >0">
                <section class="main">
                    <user-search-list on-user-select="$ctrl.onUserSelect($event)" project="$ctrl.selectedProject" userroles="$ctrl.userRole" on-assign="$ctrl.assignUser($event)"> </user-search-list>
                </section>
            </div>
            <div class="row" ng-if="$ctrl.selectedProject.item.id >0">
                <section class="main">

                    <query-list on-delete-query="$ctrl.onDeleteQuery($event)" on-update-query="$ctrl.onUpdateQuery($event)" on-add="$ctrl.onAddQuery($event)" querylist="$ctrl.queryList" project="$ctrl.selectedProject"> </query-list>
                </section>
            </div>
        </div>
        <div ng-show="$ctrl.tab=='user'">
            <section class="main">
                <jwt-user-mapping tab="$ctrl.tab"></jwt-user-mapping>
            </section>
        </div>
        <div class="workplace-section">
            <div class="row">
                <div ng-class="$ctrl.validate? 'col-sm-5' : 'col-sm-12'" class="clearfix">
                    <button class="btn btn-primary" ng-cloak ng-click="$ctrl.createProject()" type="button">Add new project</button>
                    <button class="btn btn-primary save-btn margin-left-15" type="button" ng-click="$ctrl.savetData()" ng-disabled="!$ctrl.validate">Save</button>
                    <button class="btn btn-primary save-btn margin-left-15" type="button" ng-click="$ctrl.cancelData($event)" ng-disabled="!$ctrl.validate">Cancel</button>
                </div>
                <div class="col-sm-6 warning-message" ng-show="$ctrl.validate">
                    <jwt-inline-message content="'Save/discard your changes before selecting other project'"></jwt-inline-message>
                </div>
            </div>
        </div>
    </div>
    <div id="bottom-scroll-query">
    </div>