[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
    display: none !important;
}
.clientmap-wrap {
  margin:70px 0 55px 30px;
  .tabs {
    margin: 25px 0 40px 0;
  }
  .page-title {
    font-size:1.857em;
    margin:8px 0 0 0;
    width:22%;
    text-transform: uppercase;
  }
  .subtitle {
    font-size:1.286em;
    color:@color-btn;
  }
  .user-filter {
    padding-bottom: 20px;
    .user-searchbox {
      width:400px;
      .margin-btm {
        margin-bottom: 10px;
      }
    }
    .user-nameemail {
      font-size:1.214em;
      margin:30px 0 15px 0;
      .email {
        font-size:0.882em;
      }
    }
    .table-title {
      background-color: @color-blue3;
      color:@color-gray11;
      line-height:42px;
      border-top-left-radius:8px;
      border-top-right-radius:8px;
      text-align: center;
      font-size:1.143em;
    }
    .table-row {
      border:1px solid @color-blue4;
      border-top:none;
      padding:8px 0px;
      text-align: center;
      font-size:1.143em;
      color:@color-blue5;
      .client-text {
        .ellipsis;
      }
    }

    .errorMsg {
     width: 50%;
         }
  }

.project-list {
	li.editing {
		border-bottom: none;
		padding: 0;
		margin-left: 43px;
		.edit {
			display: block;
			width: 100%;
			padding: 12px 16px;
		}
		.view {
			display: none;
      .word-wrap;
      .ellipsis;
		}
	}
  	li {
			.view {
        .word-wrap;
        .ellipsis;
		}
	}
}

ul.pagination {
	li.pagination-last {
		a {
			&:after {
				content: " >";
			}
		}
	}
}

ul.pagination {
	li.pagination-first {
		a {
			&:before {
				content: "< ";
			}
		}
	}
}


&::-webkit-input-placeholder {
	color: #A5ABB3;
  font-weight: bold;
}
&::-moz-placeholder {
	color: #A5ABB3;
    font-weight: bold;
}
&:-ms-input-placeholder {
	color: #A5ABB3;
    font-weight: bold;
}
&:-moz-placeholder {
	color: #A5ABB3;
    font-weight: bold;
}




  .save-btn {
    padding:11px 40px;
  }
  .input-icon-search {
    position: relative;
    .input {
      padding-right:45px;
    }
    .search-icon {
      font-size:20px;
      color:@color-btn;
      position: absolute;
      top:5px;
      right:15px;
      padding:5px;
      cursor: pointer;;
    }
    .textareaClass{
          border: 1px solid #354b5a;
          background-color:#273A48;
          background: none !important;
          max-width: 100%;
           min-width: 100%;
           min-height:43px;
          overflow-y: hidden;
        }
         .textareaMainClass{
         max-width: 100%;
          min-width: 100%;
           min-height:43px;
          overflow-y: hidden;
        }


        
  }
  .createQuery{
    padding-left: 0;
     .textareaClass{
          border: 1px solid #354b5a;
          background-color:#273A48;
          background: none !important;
        }

  }
  .createQuerySelect{
    padding-left: 15px;
    padding-right: 0;
}

   .input-icon-close {
   position: absolute;
right: 5px;
top: 5px;
color:#b1b6b9;
font-size: 8px;
  }

    .input-icon-create-close {
   
 position: absolute;
right: 20px;
top: 5px;
color:#b1b6b9;
 
  }

  .maping-form {
    .client {
      .col-sm-3 {
        padding-right:0px;
        width:21%;
      }
    }
    .queries{
      .form-group{
        margin-bottom: 8px;
      }
      .col-sm-7{
        padding-right: 0;
        width: 55%;
       
      }
      .col-sm-3 {
        padding-right:0px;
        width:25%;
      }
      .col-sm-2 {
        width: 19%;
      }
    }
    .search-user {
      .col-sm-3 {
        padding-right:0px;
        width:25%;
      }
    }
    .filter-input-search {
      font-size:20px;
      color:@color-btn;
      position: absolute;
      top:35px;
      right:15px;
      padding:5px;
      cursor: pointer;;
    }
    .project-table {
      list-style: none;
      padding:0px;
      li {
        font-size:1.143em;
        color:@color-blue5;
        text-align: center;
        .title-title {
          background-color: @color-blue3;
          color:@color-gray11;
          line-height:42px;
          border-top-left-radius:8px;
          border-top-right-radius:8px;
        }
        .radio-btn {
          width:7%;
          .pull-left;
          padding: 0px;
        }
        .table-row {
          border:1px solid @color-blue4;
          border-top:none;
          padding:8px 0px;
          .client-name {
            .ellipsis;
          }
          a {
            text-decoration: underline;
            font-style: italic;
          }
          .input-border {
            display: none;
          }
          .label-text {
            display: block;
          
            .word-wrap;
            .ellipsis;
              white-space:normal;
          }
        }
        .table-autosearch {
          .dropdown-menu {
            width:87%;
            background-color: @color-gray3;
            margin-top:0px;
            li {
              a {
                background-color: @color-gray3;
                color:@color-blue3;
                text-decoration: none;
                &:hover {
        					background-color: @color-gray12;
        					color:@color-blue3;
        				}
              }
            }
          }
        }
        &.select-row {
          .table-row {
            background-color: @color-gray3;
            color:@color-blue6;
            line-height:28px;
            padding:5px 0px;
            .input-border {
              width:100%;
              display: block;
              color:@color-blue3;
              border:1px solid @color-blue6;
              .border-radius(4px);
              text-align: center;
              background: transparent;
              padding:0 5px;
            }
            .label-text {
              display: none;
            }
            .radio-btn {
              margin-top:6px;
            }
            a {
              color:@color-blue6;
            }
          }
        }
      }
    }
    .assignuser-table {
      .userdtls {
        width:61%;
        border-bottom:1px solid @color-blue2;
        line-height:27px;
        min-height: 40px;
        .pull-left;
        .username {
          word-wrap: break-word;
          font-size:1.143em;
          color:@color-gray5;
          margin-left:12px;
          width:50%;
          .pull-left;
        }
        .usercheckbox{
          .pull-left;
          width:5%;
          margin-top:4px;
        }
        .check-label {
          height:20px;
        }
        .clientname {
           word-wrap: break-word;
          color:@color-blue7;
          margin-left:50px;
           width:30%;
          .pull-left;
        }
      }
      .user-rtdtl {
        width:39%;
        padding-left:0px;
        .pull-left;
      }
      .searchbar {
        background-color:@color-blue2;
        width:227px;
      }
      .inputbox {
        background-color:@color-blue11;
        width:227px;
      }
      .btn-unassign {
        width:110px;
      }
      .select {
        .userdtls {
          .username {
            opacity:1;
            font-family: 'Thompson Modern';
          }
          .clientname {
            font-family: 'Thompson Modern';
            font-weight: bold;
          }
        }
        .inputbox {
          background-color:@color-blue2;
        }
        .btn-unassign {
          border:1px solid @color-white;
          color:@color-white;
        }
        .selectbox {
          width:227px;
        }
      }
      .search-user {
        .top-border {
          border-top:1px solid @color-blue2;
        }
        .username {
          margin-left:27px;
          color:@color-white;
        }
        .selectbox {
          width:227px;
        }
        .btn-white {
          width:110px;
          border:1px solid @color-white;
          color:@color-white;
        }
      }
    }
  }
  .workplace-section {
    margin-left:-60px;
    text-align: center;
  }
}
.model-delete {
  text-align: center;
  .title {
    font-size:1.286em;
  }
  .label {
    font-size:1.143em;
    color:@color-gray5;
    padding:0px;
  }
  .modal-footer {
    .btn-primary {
      margin-left:10px;
    }
  }

}

 .bottom-scroll {
   margin-top: 200px;
 }
 #bottom-scroll-query {
   margin-top: 300px;
 }


.modal {
	text-align: center;
	padding: 0 !important;
	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -4px;
	}
}
.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}



/*----------------- Responsive CSS -----------------*/

@media screen and (max-width: 800px) {
  .clientmap-wrap {
    .table-responsive {
      border:none;
    }
    .page-title {
      width:100%;
      margin-bottom:10px;
    }
    .maping-form {
      .client {
        .col-sm-3 {
          width:98%;
        }
      }
       .queries{
      .col-sm-7{
        
        width: 98%;
       
      }
      .col-sm-3 {
        margin-top:20px;
        
        width:98%;
      }
      .col-sm-2 {
        width: 19%;
      }
    }
    }

  }
}
