<!DOCTYPE html>
<html>
<head>
</head>

<body th:fragment="content" th:inline="text">

		<div sec:authorize="isAuthenticated()">
			
			<p class="lead">
			The user you are attempting to login with was not found in our system
			</p>
			
			<p>
			Please contact darryl.mcneil@jwt.com should you want to access this application
			</p>

			<a th:href="@{/auth/logout}" class="btn btn-info" role="button">Log out</a>

		</div>

</body>

</html>