<div class="main-rtpanel">
  <header class="clearfix">
    <div class="container-fluid">
      <div class="row">
        <div class="col col-lg-9 col-md-9 col-sm-9 padding-left-none">
          <nav class="nav-top clearfix">
            <ul>
                <li id="discoverTab" ui-sref="app.discover" ui-sref-active='select'>

                  <a href="" ng-click="changeTab('tab1')">{{headerConst.tab1.text}}
                      <i ng-click="$ctrl.tab1IsActive = !$ctrl.tab1IsActive;$ctrl.viewModel.Tab2SelectExpandedState=false;" class="icon-jwt-nav"></i>
                  </a>
                  <div ng-class="{'dropdown-expand':$ctrl.viewModel.Tab1SelectExpandedState}" ng-show="$ctrl.tab1IsActive" class="dropdown-screen {{$ctrl.heightClass1}}">
                    <jwt-workspace-select pinning-mode="'TAB'" on-select-expanded="$ctrl.onTab1SelectExpanded(state)" jwt-chart-id="'discover'" ></jwt-workspace-select>
                  </div>
              </li>
                    <li id="evaulateTab" ui-sref="app.evaluate" id="evaulateTab" ui-sref-active='select'>

                  <a href="" ng-click="changeTab('tab2')">{{headerConst.tab2.text}}
                    <i ng-click="$ctrl.tab2IsActive = !$ctrl.tab2IsActive;$ctrl.viewModel.Tab2SelectExpandedState=false;" class="icon-jwt-nav"></i>
                  </a>
                  <div ng-class="{'dropdown-expand':$ctrl.viewModel.Tab2SelectExpandedState}" ng-show="$ctrl.tab2IsActive" class="dropdown-screen {{$ctrl.heightClass2}}">
                    <jwt-workspace-select pinning-mode="'TAB'" on-select-expanded="$ctrl.onTab2SelectExpanded(state)" jwt-chart-id="'evaluate'" ></jwt-workspace-select>
                  </div>
               </li>
              <!--<li ng-class="currtab == headerConst.tab3.text?'select': ''"><a href="">{{headerConst.tab3.text}} <i class="icon-jwt-nav"></i></a></li>-->
              <!--<li ng-class="currtab == headerConst.tab4.text?'select': ''"><a href="">{{headerConst.tab4.text}} <i class="icon-jwt-nav"></i></a></li>-->
            </ul>
          </nav>
        </div>
      <!--  <div class="col-lg-3 col-md-3 col-sm-3">
          <a href="#" class="icon-jwt-edit headerrt-icons"></a>
          <a href="#" class="icon-jwt-star headerrt-icons"></a>
          <a href="#" class="icon-jwt-nav headerrt-icons"></a>
        </div>-->
      </div>
    </div>
  </header>
</div>
