<div class="container">

  <h3>Brands</h3>

  <div class="alert alert-info element__top-padding" ng-if="$ctrl.isProcessing()">
    <span class="glyphicon glyphicon-cog gly-spin" aria-hidden="true"></span> {{ ::$ctrl.waitingMessage }}
  </div>
  <div class="alert alert-danger element__top-padding" ng-if="$ctrl.hasApiError()">
    <span ng-bind-html="::$ctrl.getApiErrorMessage()"></span> {{ ::$ctrl.apiErrorDetails }}
  </div>
  <div class="alert alert-danger element__top-padding" ng-if="$ctrl.hasCommunicationError()">
    {{ ::$ctrl.communicationErrorMessage }}
  </div>
  <div class="alert alert-success element__top-padding" ng-if="$ctrl.hasSuccess()">
    <span ng-bind-html="::$ctrl.getSuccessMessage()"></span>
  </div>

  <jwt-keyword-browser on-browse-action="$ctrl.filterByName($event);" on-refresh-action="$ctrl.loadData()"></jwt-keyword-browser>

  <table class="table">
    <thead>
      <tr>
        <th>
          Client
          <button type="button" class="btn btn-default btn-xs" ng-click="$ctrl.sortByClientNameAsc()">
            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-default btn-xs" ng-click="$ctrl.sortByClientNameDesc()">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
          </button>
        </th>
        <th>
          Brand
          <button type="button" class="btn btn-default btn-xs" ng-click="$ctrl.sortByNameAsc()">
            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-default btn-xs" ng-click="$ctrl.sortByNameDesc()">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
          </button>
        </th>
        <th>...</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="brand in $ctrl.getAll()">
        <td>{{::brand.clientName}}</td>
        <td>{{::brand.name}}</td>
        <td>
          <button type="button" class="btn btn-default btn-xs" ui-sref="app.brand-edit({id: brand.id})"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</button>
          <button type="button" class="btn btn-default btn-xs" ng-click="$ctrl.deleteItem(brand)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div>
    <button class="btn btn-default" ui-sref="app.brand-create">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
    </button>
  </div>

  <ul uib-pagination total-items="$ctrl.dataTotalItems" 
    ng-model="$ctrl.dataCurrentPage" max-size="$ctrl.dataMaxSize" 
    items-per-page="$ctrl.dataMaxItems" 
    class="pagination-sm" boundary-links="true" 
    num-pages="$ctrl.dataNumPages"></ul>

</div>