<div class="search-user clearfix">
    <div class="userdtls">
        <span class="username">{{$ctrl.assignusers.nameId}}  </span>
        <span class="clientname"></span>
    </div>
    <div class="user-rtdtl">

        <button class="btn btn-outline btn-unassign btn-white margin-left-15 pull-right" ng-disabled="!$ctrl.viewModel.canAssign" ng-click="$ctrl.assignUser()" type="button">Assign</button>
        <div class="form-group margin-btm-10 pull-right">
            <!--<select placeholder="Define role" ng-options="option.displayName for option in $ctrl.userroles track by option.id" class="form-control selectbox" ng-model="$ctrl.currentUser.userRole">
            </select>-->
            <div id="{{'userselect'+$ctrl.assignusers.id}}" class="selectbox clearfix">
                <div ng-click="$ctrl.viewModel.showUl = !$ctrl.viewModel.showUl" class="form-selectbox">
                    <span>{{$ctrl.selectedRole}} <i class="blue-arrow icon-jwt-arrow-down"></i></span>
                    <ul class="select-list-client" ng-show="$ctrl.viewModel.showUl">
                        <li ng-repeat="option in $ctrl.userroles track by $index" ng-if="$ctrl.selectedRole!=option.displayName" ng-click="$ctrl.onUserRoleSelect(option);">{{option.displayName}}</li>

                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="row margin-top-15" id="bottom">
</div>