<div class="grid-item">
    <div class="grid-item-content" id="chartId-q9">
          <div ng-class="masonryelementclass">
            <div class="headsection clearfix" >
              <span class="title">{{ question.title }}</span>
              <span ng-show="$ctrl.viewModel.expanded" title="{{ question.qText }}" class="title-question question-text">{{ question.qText }}</span>
               <i id="expandTile_2" ng-hide="$ctrl.isWorkspace" class="expand icon-jwt-resize"></i>
                 <i ng-if="!$ctrl.isWorkspace" ng-class="{' active': ($ctrl.isActive && $ctrl.showWorkspaceSelect)}" ng-click="$ctrl.isActive = !$ctrl.isActive;" class="expand icon-jwt-nav"></i>
            </div>
            <div class="gridmid-section clearfix">
                 <div ng-if="$ctrl.isActive && $ctrl.showWorkspaceSelect">
                    <jwt-workspace-select jwt-chart-id="'q9'" ></jwt-workspace-select>
                 </div>
                 <div ng-show="$ctrl.viewModel.expanded">
              	   <div class="chart-info-text">{{ question.description }}</div>
              	   <div>
                		 <span ng-show="$ctrl.dateRanges.dateFrom"><span class="chart-date-range-title"><b>Data Date Range</b></span><span class="chart-date-range-from"><b>From</b> {{$ctrl.dateRanges.dateFrom}} <b>&nbsp;To</b> {{$ctrl.dateRanges.dateTo}}</span></span>
                     <span  class="chart-last-refresh-date"><i>Last refresh date {{ $ctrl.dateRanges.lastUpdatedDate }} </i></span>
              	   </div>
              	 </div>
              <div class="chart-cont-q9"></div>
            </div>
          </div>
    </div>
</div>
