.workspace-drop-selected {
  margin:0px auto 15px;
  position: absolute;
  width: 92%;
  z-index: 2;
  background-color:@color-blue22;
  opacity: 0.95;
  padding: 5px;
  .drop-title {
    color:@color-ws-screenname;
    font-size:1.143em;
    width: 90%;
    display: inline-block;
    .ellipsis;
  }
  .icon-close {
    color:@color-blue10;
    font-size:18px;
    .pull-right;
    a {
      color:@color-blue10;
    }
  }
  &.btm-cont{
    margin:5px 0 15px 0;
    position: static;
    width: auto;
    z-index: inherit;
    background-color: transparent;
    opacity: 1;
    padding: 0px;
    .drop-title {
      color:@color-qn-title;
    }
  }
}

.workspace-dropdown-selected {
  padding:0px;
  .title {
    font-size:0.750em;
    color:@color-white;
    .pull-left;
    text-transform: none;
    width: 90%;
    display: inline-block;
    .ellipsis;    
  }
  .closeicon {
    font-size:0.750em;
    .pull-right;
    margin-top:2px;
    a {
      background: none !important;
      padding:0px !important;
    }
  }
}


/* todo vinayak remove with actual less*/
.workspace-select-disable-li{
    pointer-events:none;
    opacity:0.4;
}

.custome-selectbox {
    position: absolute;
    width: 93%;
    .select-list {
      .noHover{
          &:hover {
          color: @color-blue24;
	        cursor : default;
          background-color: @color-blue22;
      }
    }
  }
}

#chartselectq11 .custome-selectbox,
#chartselectq12ratio .custome-selectbox,
#chartselectq13 .custome-selectbox,
#chartselectq6 .custome-selectbox,
#chartId-q11 .workspace-drop-selected{
    z-index: 4;
}
#chartselectq7 .custome-selectbox,
#chartselectq1 .custome-selectbox{
    z-index: 2;
}
#chartselectgoogleTrend  .custome-selectbox, #chartselectinfegy .custome-selectbox{
    z-index: 11;
}
