<!--
 <div class="screen-select">
   <select class="form-select">
     <option value="">Screen Name 1</option>
     <option value="">Screen Name 2</option>
     <option value="">Screen Name 3</option>
   </select>
 </div>
-->
<div id="{{'chartselect'+$ctrl.jwtChartId}}" class="select-screen-main clearfix" ng-show="$ctrl.viewModel.canSelect">
  <div  ng-click="$ctrl.toggleSelect($event);" class="custome-selectbox margin-btm-15">
    <span>{{$ctrl.selectScreen}} <i ng-class="$ctrl.viewModel.showUl == true ? 'down-arrow glyphicon glyphicon-triangle-top' :'down-arrow glyphicon glyphicon-triangle-bottom' " ></i></span>
    <ul class="select-list" ng-show="$ctrl.viewModel.showUl">
       <li ng-class="{'workspace-select-disable-li' :option.isUsed}" ng-repeat="option in $ctrl.dataModel.list track by $index" title="{{option.name}}" ng-click="$ctrl.onScreenSelect(option);" >{{option.name}}</li>
        <li ng-click="$ctrl.defaultScreenSelect($event,'DEFAULT');" ng-if="$ctrl.dataModel.list.length <= 0" class="noHover">
          <i class="icon-jwt-info infoicon"></i>
          Add a screen first.
        </li>
    </ul>
  </div>
</div>
 <div class="workspace-drop-selected clearfix" ng-show="!$ctrl.viewModel.canSelect && $ctrl.pinningMode != 'TAB'">
    <span class="drop-title">{{$ctrl.model.screen.name}}</span>
    <span class="icon-close"><a ng-click="$ctrl.onRemoveSelection();" class="icon-jwt-close close-icon"></a></span>
</div>
<div class="workspace-dropdown-selected clearfix" ng-show="!$ctrl.viewModel.canSelect && $ctrl.pinningMode == 'TAB'">
    <span class="title">{{$ctrl.model.screen.name}}</span>
    <span class="closeicon"><a ng-click="$ctrl.onRemoveSelection();" class="icon-jwt-close close-icon"></a></span>
</div>

<!--
<div class="screen-select" ng-if="$ctrl.viewModel.canSelect">
    <select
            class="form-select" ng-model="$ctrl.model.screenId"
            ng-change="$ctrl.onScreenSelect();"
            >
        <option ng-repeat="option in $ctrl.dataModel.list" ng-disabled="option.isUsed" value="{{option.id}}">{{option.name}}</option>
    </select>
</div>
<div class="workspace-drop-selected clearfix" ng-if="!$ctrl.viewModel.canSelect">
    <span class="drop-title">{{$ctrl.model.screen.name}}</span>
    <span class="icon-close"><a ng-click="$ctrl.onRemoveSelection();" class="icon-jwt-close close-icon"></a></span>
</div>

-->
