.main-portion {
	#grid {
		margin-bottom:45px;
		height: auto !important;
		.masonry-brick {
			.gridmid-section {
                .chart-cont-q6{
                    min-height: 366px;
                    .trends-chart-cont{
                        width: 100%;
						height: 100%;
						position: relative;
                        .trend-node{
                            float: left;
                            /*width: 33.33%;*/
							text-align: center;
							font-family: 'Thompson Modern';
							.trend-node-text{
								display: inline;
								margin: 0 auto;
								word-wrap: break-word;
								text-align: left;
								display: none;
							}
							.typed-cursor{
								opacity: 1;
								-webkit-animation: blink 0.7s infinite;
								-moz-animation: blink 0.7s infinite;
								animation: blink 0.7s infinite;
							}
                        }
                    }
                }
			}
		}
	}
}

.chart-cont-q1,
.chart-cont-q2,
.chart-cont-q6{
   min-height: 366px;
 }

/* The typewriter cursor effect */
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}