<div class="main-rtpanel" ng-class="{'new-wind-rtpanel':$ctrl.isWorkspace}">
    <div class="main-portion margin-top-15">
        <div id="grid" class="clearfix">
            <div class="grid-sizer"></div>
            <jwt-question-discover-1 show-workspace-select="$ctrl.viewModel.showWorkspaceSelect" is-workspace="false" jwt-chart-id="'q1'"></jwt-question-discover-1>
            <jwt-question-discover-2 show-workspace-select="$ctrl.viewModel.showWorkspaceSelect" is-workspace="false" jwt-chart-id="'q2'"></jwt-question-discover-2>
            <jwt-question-discover-6 show-workspace-select="$ctrl.viewModel.showWorkspaceSelect" is-workspace="false" jwt-chart-id="'q6'"></jwt-question-discover-6>
        </div>
        <!--<jwt-workspace-list ng-if="!$ctrl.isWorkspace"></jwt-workspace-list>-->
    </div>
</div>
