<div class="grid-item">
    <div class="grid-item-content" id="chartId-q7">
        <div ng-class="masonryelementclass">
            <div class="headsection clearfix">
                <span class="title">{{ question.title }}</span>
                <span ng-show="$ctrl.viewModel.expanded" title="{{ question.qText }}" class="title-question question-text">{{ question.qText }}</span>
                <i id="expandTile_1" ng-hide="$ctrl.isWorkspace" class="expand icon-jwt-resize"></i>
                <i ng-if="!$ctrl.isWorkspace" ng-class="{' active': ($ctrl.isActive && $ctrl.showWorkspaceSelect)}" ng-click="$ctrl.isActive = !$ctrl.isActive;" class="expand icon-jwt-nav"></i>
            </div>
            <div class="gridmid-section clearfix">
                <div ng-if="$ctrl.isActive && $ctrl.showWorkspaceSelect">
                    <jwt-workspace-select jwt-chart-id="'q7'"></jwt-workspace-select>
                </div>
                <div ng-show="$ctrl.viewModel.expanded" style="margin-bottom: 10px;">
                    <span class="chart-info-text">{{ question.description }}</span>
                    <div>
                        <span ng-show="$ctrl.dateRanges.dateFrom"><span class="chart-date-range-title"><b>Data Date Range</b></span><span class="chart-date-range-from"><b>From</b> {{$ctrl.dateRanges.dateFrom}} <b>&nbsp;To</b> {{$ctrl.dateRanges.dateTo}}</span></span>
                        <span class="chart-last-refresh-date"><i>Last refresh date {{ $ctrl.dateRanges.lastUpdatedDate }} </i></span>
                    </div>
                </div>
                <div class="chart-cont-q7">
                    <div ng-show="selectedBrand && !$ctrl.viewModel.expanded" class="selected-brand">
                        <span style="background-color: #d7803c" class="mention-info-circle"></span>
                        <span class="mention-legends-infoText">{{selectedBrand}}</span>
                    </div>
                    <div ng-show="$ctrl.viewModel.expanded">
                        <div class="brands">
                            <div ng-repeat="brand in brands" class="brands-button-container">
                                <button class="brands-button {{brand.key}}" ng-class='{selected:$first}' ng-click="updateSplineChart(brand.key)">
                                    <span class="brand-name">{{brand.key}}</span>
                                    <span class="brand-ratio">{{brand.ratio}} </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="mention-line-chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>