.chart-cont-q7{

  font-family: "Thompson Modern";
  .selected-brand{
    float:right;
  }
  .description{
    font-size:13px;
    color: @color-blue32;
    font-family: "Thompson Modern";
    .description1{
      float:left;
    }
    .description2{
      float:left;
    }
  }
  .brands{
    display: flex;
    justify-content: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    .brands-button-container{
      float:left;
      
      
      .brands-button{
            //border-color: @color-orange;
            border: 1px solid @color-orange;
            background-color: #16252f;
            font-size:13px;
            border-radius: 5px;
            padding: 7px 0px 5px;
            width: 113px;
            color: @color-orange;
            margin-right: 20px;
                outline: none;
            
            .brand-name{
              display: block;
              text-align: center;
              line-height:13px;
            }
            .brand-ratio{
              line-height:15px;
              // clear: both;
              // float:left;
            }

      }

      .selected{
              background-color: @color-orange;
              color:#16252f;
              outline:none;
              border: 1px solid @color-orange;
            }
    }
    
  }
  

  .mention-line-chart{
    .average-line{
      //stroke-dasharray: "(3, 3)";
      stroke:#5e83a0;
    }
  }
  
  .axis text,.brands-mouse-over-component text{
    fill: #597c98;
    font-family: @font-thompson-modern-light;
    font-size: 11px;
  }
  .brands-mouse-over-text-bg{
    fill: #091b29;;
  }
  .brands-mouse-over-component text{
    font-size: 12px;
    fill: #bdd4e6;
    font-weight: 400;
  }
  .brands-mouse-over-component .brands-mouse-over-line,
  .brands-inter-component .brands-intersection-line{
    stroke: #597c98;
  }
  .axis text.axis-info-labels{
    font-size: 13px;
  }
  .mention-info-circle{
    margin-right: 4px;
    padding: 0px 8px;
    .border-radius(100%);
  }
  .mention-legends-expand{
    width: 100%;
    text-align: left;
    padding-right: 36px;
    span{
      height:15px;
      width:15px;
    }
  }
  .mention-legends-infoText{
     color: @color-blue8;
     font-size: 12px;
  }

}
