<div class="model-delete">
    <div class="modal-header">
        <h3 class="modal-title title" id="modal-title">Are you sure you want to delete this project?</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <label class="label">All users will be unassigned and will not <br>be able to
           view this project anymore.</label>
    </div>
    <div class="modal-footer text-center margin-top-15 margin-btm-20">
        <button class="btn btn-cancel btn-big" type="button" ng-click="$ctrl.cancel()">No</button>
        <button class="btn btn-primary btn-big" type="button" ng-click="$ctrl.save()">Yes</button>
    </div>
</div>