<li class="row  clearfix">
    <div class="col-sm-12 ">
        <!--ng-dblclick="$ctrl.enableEditing()"-->

        <div class="table-row dropdown-autosearch table-autosearch clearfix">
            <div class="col-sm-1 radio-btn">
                <input type="radio" id="radio-{{$ctrl.index}}" ng-disabled="$ctrl.savepending" name="radio-primary" ng-model="selected.value" ng-click="$ctrl.selectProject($event)" ng-checked="$ctrl.select" value="{{$ctrl.index}}" />
                <label for="radio-{{$ctrl.index}}" class="icon-jwt-circle"></label>
            </div>
            <div class="col-sm-3">

                <input no-special-char typeahead-select-on-blur="true" ng-blur="$ctrl.focusOut()" autocomplete="off" type="text" name="client" ng-model="$ctrl.model.client" uib-typeahead="item.name for item in $ctrl.getLocation($viewValue)" typeahead-loading="loadingLocations"
                    typeahead-no-results="noResults" class="input-border form-control" typeahead-on-select="$ctrl.onSelectionChange($item, $model, $label, $event)">
                <div class="noClient" ng-show="noResults && $ctrl.model.client.length > 0">
                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>
                <span class="label-text client-name">{{$ctrl.client.clientName}}</span>
            </div>
            <div class="col-sm-3">

                <input no-special-char typeahead-select-on-blur="true" ng-blur="$ctrl.focusOutBrand()" autocomplete="off" type="text" name="brand" ng-model="$ctrl.model.brand" uib-typeahead="item.name for item in $ctrl.getbrandLocation($viewValue)" typeahead-loading="loadingLocations"
                    typeahead-no-results="noBrandResults" class="input-border form-control" typeahead-on-select="$ctrl.onBrandSelectionChange($item, $model, $label, $event)">
                <div class="noBrand" ng-show="noBrandResults && $ctrl.model.brand.length  > 0">
                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>

                <span class="label-text">{{$ctrl.client.brandName}}</span>
            </div>
            <div class="col-sm-3">
                <input no-special-char maxlength="75" type="text" ng-change="$ctrl.focusOutProject()" ng-model="$ctrl.model.project" name="" class="input-border">
                <span class="label-text">{{$ctrl.client.name}}</span>
            </div>
            <div class="col-sm-2"><a href="" ng-click="$ctrl.deleteProject($event)">delete</a></div>
        </div>
    </div>
</li>