<!DOCTYPE html>
<html>
<head>
</head>

<body th:fragment="content" th:inline="text">
	
	<input type="hidden" id="token" th:value="${token}" />
	<input type="hidden" id="applicationUrl" th:value="${applicationUrl}" />
	<input type="hidden" id="isNewUserCreated" th:value="${isNewUserCreated}" />
	
	<div th:switch="${isNewUserCreated}">
		<div th:case="true">
			<p class="lead">
				The user you are attempting to login with was not found in our system
			</p>
			<p>
				Please contact darryl.mcneil@jwt.com should you want to access this application
			</p>
			<a th:href="@{/auth/logout}" class="btn btn-info" role="button">Log out</a>
		</div>
		
		<div th:case="false">
			<p class="lead">You are logged in as <strong>[[${username}]]</strong></p>
			<p>
				You are now being redirected to <strong>[[${applicationName}]]</strong> in <strong><span id="spnRedirectSeconds">-</span></strong> seconds. If not, <a th:href="${applicationUrl}">click here</a>.
			</p>
		</div>
	</div>
	
	<script>
	
	var REDIRECT_SECONDS = 5;
	var SECOND_AS_MILIS = 1000;
	
	var Controller = 
	(function(document){
		
		function goToApp(){
			var redirUrl = document.getElementById('applicationUrl').value;
			window.location = redirUrl;			
		}
				
		function getCounterSetter(count){
			var counterSetter = function (){
				document.getElementById('spnRedirectSeconds').innerHTML = count;
				if(count > 0){
					count--;
				}
			}
			return counterSetter;
		}
		
		
		return {
			getCounterSetter : getCounterSetter,
			goToApp : goToApp
		};
		
	})( document );
		
	
	$( document ).ready(function() {
		
		var isNewUserCreated = document.getElementById('spnRedirectSeconds').innerHTML === "true" ? true : false;
		document.getElementById('spnRedirectSeconds').innerHTML = REDIRECT_SECONDS;

		if(!isNewUserCreated){
			setTimeout( Controller.goToApp , REDIRECT_SECONDS * SECOND_AS_MILIS );
			setInterval( Controller.getCounterSetter( REDIRECT_SECONDS - 1 ) , SECOND_AS_MILIS );
		}
		
	});
	
	</script>

</body>

</html>