<!DOCTYPE html>
<html>
<head>
</head>

<body th:fragment="content" th:inline="text">
	
	<input type="hidden" id="token" th:value="${token}" />
	
	<p class="lead">You have been successfully logged out</p>
	<p>
		<a th:href="@{/}">Click here</a> to login again.
	</p>
	
</body>


</html>