<!DOCTYPE html>
<html>
<head>
</head>

<body th:fragment="content">

		<div sec:authorize="!isAuthenticated()" >
			<p class="lead">
			Login Required
			</p>
			
			<p>
			What would you like to do?
			</p>
			
			<a th:href="@{/auth/app}" class="btn btn-info" role="button">Login with myJWT and continue</a>
		</div>

		<div sec:authorize="isAuthenticated()">
			
			<p class="lead">
			You are currently logged in as <strong><span sec:authentication="name"></span></strong>.
			</p>
			
			<p>
			What would you like to do?
			</p>

			<a th:href="${jwtCicFrontendApplicationUrl}" class="btn btn-info" role="button">Continue
				to JWT Command Center</a>
			<a th:href="@{/auth/logout}" class="btn btn-info" role="button">Log out</a>

		</div>

</body>

</html>