<div ng-app="tabApp" class="user-filter">
    <div class="form maping-form">
        <div class="client dropdown-autosearch">
            <div class="user-searchbox">
                <div class="form-group">
                    <label class="margin-btm">Search by First Name,Last Name or Email</label>
                    <div class="input-icon-search">
                        <!--<jwt-client-search clearsearch="$ctrl.clearSearch" on-client-select="$ctrl.onClientSelect(client)"></jwt-client-search>
                        <div ng-click="$ctrl.onClientSelect($ctrl.client)" class="icon-jwt-search search-icon"></div>-->

                        <input type="text" autocomplete="off" name="client" ng-model="$ctrl.userSearchTxt" placeholder="search" uib-typeahead="item as item.name +' '+item.lastName + ' (' + item.email + ')' for item in $ctrl.getProjectUserList($viewValue)" typeahead-loading="loadingLocations"
                            typeahead-no-results="nofnameResults" class="input form-control" typeahead-on-select="$ctrl.onSelectionChange($item, $model, $label, $event)">
                        <div ng-show="nofnameResults && $ctrl.userSearchTxt!=''">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                        <a href="" class="icon-jwt-search search-icon"></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="$ctrl.userProjectList.projects.length > 0">
        <div class="col-sm-10 project-table">
            <h5 class="user-nameemail">{{ $ctrl.fName}} {{$ctrl.lName}} <span class="email">({{$ctrl.userProjectList.email}})</span></h5>
            <div class="table-title clearfix">
                <div class="col-sm-3">Client</div>
                <div class="col-sm-3">Brand</div>
                <div class="col-sm-3">Project</div>
                <div class="col-sm-3">Role</div>
            </div>
            <div class="table-row clearfix" ng-repeat="users in  $ctrl.userProjectList.projects  | mvPagination : $ctrl.paginationSettings.currentPage : $ctrl.paginationSettings.recordsPerPage">
                <div class="col-sm-3 client-text">{{users.clientName}}</div>
                <div class="col-sm-3">{{users.brandName}}</div>
                <div class="col-sm-3">{{users.projectName}}</div>
                <div class="col-sm-3">{{users.roleDisplayName}}</div>
            </div>
            <div ng-show=" $ctrl.userProjectList.projects.length > $ctrl.paginationSettings.recordsPerPage" class="text-center margin-top-10">
                <ul uib-pagination ng-show="$ctrl.userProjectList.projects.length > 1" total-items="$ctrl.userProjectList.projects.length" items-per-page="5" ng-model="$ctrl.paginationSettings.currentPage " class="pagination-sm" boundary-links="true" rotate="false"></ul>
            </div>
        </div>
    </div>

    <div class="margin-top-5 warning-message margin-btm-20  errorMsg" ng-show="$ctrl.showError">
        <jwt-inline-message content="'No results found.'"></jwt-inline-message>
    </div>
</div>