.main-portion {
	#grid {
		.masonry-brick {
			.gridmid-section {
        .chart-cont-q1{
          .toolTip {
            position: absolute;
            display: none;
            background: none repeat scroll 0 0 #16252f;
            border: 1px solid #16252f;
            padding: 14px;
            text-align: center;
						opacity: 0.9;
          }

          .leftDiv{
              float:left;
							width: 60%;
              margin-top:20px;
              .summaryInfo{
                // width: 33%;
                  background-color: #1d2e3a;
                  margin-bottom: 15px;
                  text-align: center;
                  .topSummaryDiv{
                    .topDivText{
                    font-size: 12px;
                    font-family: @font-regular;
                    color: #597c98;
                    text-align:center;
                  }
                  }
                  .maximum{
                    display: inline-block;
                    padding: 0 15px;
                    font-family: @font-regular;
                    .percent{
                      font-size: 20px;
                      color: #49bfab;
                      display: block;
                    }
                    .maximumText{
                      font-size: 13px;
                      color: #597c98;
                    }
                  }
                  .minimum{
                    display: inline-block;
                    border-left: 1px solid #597c98;
                    padding: 0 15px;
                    font-family: @font-regular;
                    stroke: #597c98;
                    .percent{
                      font-size: 20px;
                      color: #49bfab;
                      display: block;
                    }
                    .minimumText{
                      font-size: 12px;
                      color: #597c98;
                    }
                  }
              }

              .barChart{
                //float:left;
                position:relative;
              // margin-top: 15px;
                //padding: 35% 0;
                width: 100%;
                //height: 285px;
                float: left;
                border: 1px solid;

                .barChartTitle{
                  text-align: center;
                  // position: absolute;
                  // left: 110px;
                  // top: 10px;
                  color: #597c98;
                  font-family: "Thompson Semi Bold";
                  font-size: 14px;
                  font-weight:bold;
                }
                .barChartSvg{
                  .x-axis-label{
                    font-size: 14px;
                    font-family: "Thompson Modern";
                    fill: #597c98;
                    text-anchor:middle;
                    font-size:16px;
                  }
                }
              }
              .barChartAltText{
                padding:56% 15%;
              }
            }

          .rightTopDiv{
                width: 30%;
              float: right;
              .buttonDiv{
                float: right;

              // padding: 9px;
               // margin-top: 150px;

              .inputContainer {
                position:relative;
                width: 118px;

                i{
                  position:absolute;
                  right:10px;
                  top:15px;
                  font-size: 10px;
                }
                input{
                  font-family: @font-regular;
                  width: 100%;
                  padding:10px 10px 10px 20px;
                  background: #233644;
                  border:1px solid #2d4455;
                  color: @color-blue33;
                  font-size: 14px;
               }
               .brand-legend{
                  height: 13px;
                  width: 13px;
                  display: none;
                  position: absolute;
                  left: 3px;
                  top: 15px;
                  border-radius: 15px;
                  &.display-block{
                    display: block;
                  }
               }

              }

                .brandSuggestionList{
                      width: 110px;

                      label{
                      display: block;
                      color: black;
                      border-color:#597c98;

                  }
                }
                  .searchBrands{
                    position: absolute;
                    height: 40px;
                    border-color:#597c98;
                              }



                .searchBrands{
                    display: block;
                    font-size: 12px;
                    height: 30px;
                    padding: 10px;
                    background-color: #16252f;
                    width: 115px;
                    border: 1px solid;
                    input::-webkit-input-placeholder{
                      color: #597c98;
                    }
                }

                .addComparison{
                  font-family: @font-thompson-modern;
                  display: block;
                  margin-bottom: 10px;
                  font-size: 12px;
                  padding: 10px;
                  background-color: #16252f;
                  border: 1px solid;
                  color: #597c98;
                  border: 1px solid #597c98;
                  margin-bottom: 10px;
                }

              .compare{
                display: block;
                margin-bottom: 20px;
                font-size: 12px;
                padding: 10px;
                width: 115px;
                background-color: #49bfab;
                border: none;
                border-radius: 3px;
                color: #597c98;
                outline: none;
                &.disabled{
                  background-color: #006462;
                  color: #02202c;
                  opacity: 0.6;
                  cursor: not-allowed;
                }
                &:active{
                  outline: none;
                }
              }

              }

            .barInfo {
                .barInfoRow{
                padding: 5px;
                  .barInfoCircle{
                    margin-right: 4px;
                    display: inline-block;
                    height: 13px;
                    width: 13px;
                    .border-radius(100%);
                  }
                  .barInfoText{
                    color: #597c98;
                    font-family:Thompson Modern;
                  }
                }
              }
              .barInfoExpanded {
                // width:46%;
                margin-top: 20px;
                margin-right: 20px;
                .pull-right;
                .barInfoRow{
                  margin-bottom: 10px;
                  float: right;
                  padding: 5px;
                }
                .barInfoCircle{
                    margin-right: 4px;
                    display: inline-block;
                    height: 13px;
                    width: 13px;
                    .border-radius(100%);
                  }
                  .barInfoText{
                    color: #597c98
                  }
              }


          }

            .rightBottomDiv{
              padding-right: 25px;
              width:60%;
              .splineChart{
                float:right;
                .axis--x .tick line{
                  visibility:hidden;
                }
                .axis text{
                  font-size: 13px;
                  font-family: @font-regular;
                }
              }


            }


        }
				.searches-mouse-over-component text{
					fill: #597c98;
					font-family: @font-thompson-modern-light;
					font-size: 11px;
				}
        .axis{
          text{
            fill: #597c98;
            font-family: @font-thompson-modern-light;
            font-size: 11px;
				  }
          &.q10-axis{
              text{
                fill: #699d92;
                font-family: @font-thompson-modern-light;
                font-size: 11px;
              }
          }
        }
				.searches-mouse-over-text-bg{
					fill: #091b29;;
				}
				.searches-mouse-over-component text{
					font-size: 12px;
					fill: #bdd4e6;
					font-weight: 400;
				}
				.searches-mouse-over-component .searches-mouse-over-line,
				.searches-inter-component .searches-intersection-line{
					stroke: #597c98;
				}
				.axis text.axis-info-labels{
					font-size: 13px;
				}
        .no-data-found{
            width: 270px;
            margin-top: 10px;
        }
      }
      &.big-tile {
        .gridmid-section {
          .chart-cont-q1{
						.leftDiv{
							width: 33%;
						}
            .rightTopDiv{
              min-width: 60%;
              .buttonDiv{
                width:100%;
                .inputContainer{
                    float:left;
                    width:90px;
                }
                .searchBrands{
                  left: 0px;
                }
                .addComparison{
                  padding: 10px 40px;
                }
              }
            }
          }
        }
				&.popped-window{
					.gridmid-section {
	          .chart-cont-q1{
	            .rightTopDiv{

	            }
	          }
					}
				}
      }
    }
  }
}


@media screen and (max-width: 800px) {
	.main-portion {
		#grid {
			.masonry-brick {
        &.big-tile {
          .gridmid-section {
            .chart-cont-q1{
              .leftDiv{
                margin-top: 5px;
                .summaryInfo{
                  margin-bottom:35px;
                }
              }
              .rightTopDiv{
                min-width:65%;
                  .buttonDiv{

                    .inputContainer {
                        width: 74px;
                        input{
                          padding-left:15px;
                        }

                      .brand-legend{
                          height: 10px;
                          width: 10px;
                          border-radius: 10px;
                      }

                    }
                  }

              }

              .rightBottomDiv{
                min-width:65%;
                padding-right: 0px;
                .splineChart{
                  float:left;
                }
              }
            }
          }
          &.popped-window{
            .gridmid-section {
              .chart-cont-q1{
                .rightTopDiv{
                  min-width: 65%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 801px) and (max-width: 1280px) {
	.main-portion {
		#grid {
			.masonry-brick {
          .gridmid-section {
            .chart-cont-q1{
              .rightTopDiv{

                width:33%;
                .buttonDiv{
                   .inputContainer{
                     width:116px;
                   }
                  }
               }
            }
          }
          &.big-tile {
            .gridmid-section {
              .chart-cont-q1{
                .rightTopDiv{
                  .buttonDiv{
                    .inputContainer{
                      width:90px;
                    }
                  }
                }
              }
            }
          }
      }
    }
	}
}

@media screen and (min-width: 1600px) and (max-width: 1921px) {
	.main-portion {
		#grid {
      .masonry-brick {
          .gridmid-section {
            .chart-cont-q1{
							.leftDiv{
								.barChartAltText{
									padding:44% 15%;
								}
							}
              .rightTopDiv{
                .buttonDiv{
                  .inputContainer{
                    width:116px;
                  }
                }
              }
              .rightBottomDiv{
                padding-right: 50px;
              }
            }
          }
          &.big-tile {
            .gridmid-section {
              .chart-cont-q1{
                .leftDiv{
                  margin-top: 5px;
                  .summaryInfo{
                    margin-bottom: 35px;
                  }

                }
                .rightTopDiv{
                  .buttonDiv{
                    width:93%;
                    .inputContainer{
                    width:90px;
                  }
                  }
                }
              }
            }
          }
      }

    }
  }
}
