<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Confirm to delete Brand</h3>
</div>
<div class="modal-body" id="modal-body">
    You are about to delete <strong>{{ ::$ctrl.item.name }}</strong> brand from <strong>{{ ::$ctrl.item.clientName }}</strong>. Are you sure?
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="$ctrl.confirm()">Delete</button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>
