<ul class="project-table project-list">
    <li class="row clearfix">
        <div class="col-sm-12">
            <div class="title-title clearfix">
                <div class="radio-btn">&nbsp;</div>
                <div class="col-sm-3">Select Client</div>
                <div class="col-sm-3">Brands</div>
                <div class="col-sm-3">Projects</div>
                <div class="col-sm-2">Action</div>
            </div>
        </div>
    </li>


    <div class="select-row" ng-repeat="project in $ctrl.list | mvPagination : $ctrl.currentpage : $ctrl.recordsperpage">
        <project-item index="$index" client="project" selctedproject="$ctrl.selctedproject" on-Update="$ctrl.updateProject($event)" savepending="$ctrl.savepending" on-select="$ctrl.selectProject(project)" on-delete="$ctrl.deleteProject($event)" </project-item>
    </div>

    <div ng-show="$ctrl.list.length > $ctrl.recordsperpage" class="text-center margin-top-10">
        <ul uib-pagination total-items="$ctrl.list.length" items-per-page="5" ng-model="$ctrl.currentpage" class="pagination-sm" boundary-links="true" rotate="false"></ul>
    </div>
</ul>