/*----------------- Mixins -----------------*/

/*------- Text Ellipsis  -------*/
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.not-ellipsis{
  white-space: normal;
  overflow: visible;
  text-overflow: inherit;  
}

/*------- Border Radius  -------*/
.border-radius(@radius: 3px) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

.border-top-left-radius (@radius: 3px){
  -webkit-border-top-left-radius: @radius;
     -moz-border-top-left-radius: @radius;
          border-top-left-radius: @radius;
}
.border-top-right-radius (@radius: 3px){
  -webkit-border-top-right-radius: @radius;
     -moz-border-top-right-radius: @radius;
          border-top-right-radius: @radius;
}
.border-bottom-left-radius (@radius: 3px){
  -webkit-border-bottom-left-radius: @radius;
     -moz-border-bottom-left-radius: @radius;
          border-bottom-left-radius: @radius;
}
.border-bottom-right-radius (@radius: 3px){
  -webkit-border-bottom-right-radius: @radius;
     -moz-border-bottom-right-radius: @radius;
          border-bottom-right-radius: @radius;
}



/*------- Box Shadow -------*/
.box-shadow (@x: 0; @y: 0; @color: #000) {
  -webkit-box-shadow: @arguments;
     -moz-box-shadow: @arguments;
          box-shadow: @arguments;
}

/*------- Text Shadow -------*/
.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.2)) {
  text-shadow: @string;
}

/*------- Word Break -------*/
.word-wrap {
  word-wrap: break-word;
}

.pull-left {
  float:left;
}
.pull-right {
  float:right;
}
.pull-none {
  float:none;
}
