/*----------------- Colors Variable -----------------*/

@blue : #273a48;
@blue-dark : #253745;
@blue-darker : #16252f;
@blue-light : #3b566b;
@blue-lighter : #44627a;
@blue-lightest : #648191;
@color-grey : #b3bac0;
@color-white: #ffffff;
@color-black: #000000;
@color-orange: #d7803c;

@color-3b566b : #3b566b;
@color-3a6e96: #3a6e96;
@color-qn-title: #83888b;
@body-bg: #2a353c;

@color-blue1 :#263a47;
@color-blue2 :#354b5a;
@color-blue3 :#172630;
@color-blue4 :#344a59;
@color-blue5 :#7d898e;
@color-blue6 :#182731;
@color-blue7 :#607d8b;
@color-blue8 :#597c98;
@color-blue9 :#2e3b44;
@color-blue10 :#677178;
@color-blue11 :#2b3f4d;
@color-blue12 :#51a5e8;
@color-blue13 :#2e4656;
@color-blue14 :#0c171f;
@color-blue15 :#505d66;
@color-blue16 :#4881ae;
@color-blue17 :#70828e;
@color-blue18 :#72abd2;
@color-blue19 :#41545d;
@color-blue20 :#36444c;
@color-blue21 :#79bdf4;
@color-blue22 :#243744;
@color-blue23 :#1e2f3b;
@color-blue24 :#86939b;
@color-blue25 :#2f4351;
@color-blue26 :#4e5f6b;
@color-blue27 :#cedae3;
@color-blue28 :#354b59;
@color-blue29 :#2d4354;
@color-blue30 :#20323f;
@color-blue31 :#3e596e;
@color-blue32 :#5e83a0;
@color-blue33 :#5e829f;
@color-blue34 :#90a4ae;
@color-blue35 :#82c2b2;
@color-blue36 :#53829f;

@color-dark1 :#0c171f;
@color-dark2 :#2b383e;
@color-dark3 :#1f282d;
@color-dark4 :#152630;

@color-gray1 :#fefefe;
@color-gray2 :#c6d4de;
@color-gray3 :#c6ccce;
@color-gray4 :#54646e;
@color-gray5 :#989da1;            // white opacity 50%
@color-gray6 :#7b8084;
@color-gray7 :#636d72;
@color-gray8 :#7f8d96;
@color-gray9 :#a3afb6;
@color-gray10 :#78909c;
@color-gray11 :#aeb8be;
@color-gray12 :#dfe1e2;
@color-gray12 :#b1b6b9;
@color-gray13 :#c6d4df;
@color-ws-screenname: #bfc3c5;

@color-q14txt :#82c2b2;
@color-q12post-tooltip-bg: #000000;

@color-error:#f9767f;

@color-red-smily-q8 :#bd514c;
@color-green-smily-q8 :#59a95b;
@color-red-smily :#bd514c;
@color-green-smily :#59a95b;
@color-pink : #d4759b;
@color-pink-q11 : #f25cad;

@color-btn :#49bfab;
@color-btn-hover:darken(@color-btn, 15%);

@color-btn-cloud :#82c2b2;
@color-text-tilte-q14 :#82c2b2;
@check-color:#99a2a9;

/* Timeseries color values */
@time-color-axis-brdr: #2f4351;
@time-brush-area: #3d5667;
@time-brush-border: #3d5667;

@font-light:Thompson Modern Light;
@font-logo:Thompson Modern Logo;
@font-regular: Thompson Modern;

@font-bold : bold;
@font-italic : italic;
@font-thompson-modern :'Thompson Modern';
@font-thompson-Semibold :'Thompson Semi Bold';
@font-thompson-modern-light:'Thompson Modern Light';

/* For Font awesome */
@fa-font-path:        "../fonts";
@fa-css-prefix:       fa;
@fa-version:          "4.7.0";

/* For component path */
@comp-path: "src/app/components";
@question-path: "@{comp-path}/questions/";
@eva-question-path: "@{question-path}/evaluate";
@dis-question-path: "@{question-path}/discover";
@client-comp-path: "@{comp-path}/clients/";


/*----------------- Fonts -----------------*/

/* Thompson Modern, Regular */
@font-face {
  font-family: 'Thompson Modern';
  font-style: normal;
  font-weight: normal;
  src: local(Thompson Modern), local(ThompsonModern-Regular);
  src: url('@{fa-font-path}/ThompsonModern.eot'),
      url('@{fa-font-path}/ThompsonModern.eot?#iefix') format('embedded-opentype'),
      url('@{fa-font-path}/ThompsonModern.svg#ThompsonModern') format('svg'),
      url('@{fa-font-path}/ThompsonModern.woff2') format('woff2'),
      url('@{fa-font-path}/ThompsonModern.woff') format('woff'),
      url('@{fa-font-path}/ThompsonModern.ttf') format('truetype');
}

@font-face {
  font-family: 'Thompson Modern Semibold';
  font-style: normal;
  font-weight: bold;
  src: local(Thompson Modern Semibold), local(ThompsonModernSemiBold-Regular);
  src: url('@{fa-font-path}/ThompsonModernSemibold.eot'),
      url('@{fa-font-path}/ThompsonModernSemibold.eot?#iefix') format('embedded-opentype'),
      url('@{fa-font-path}/ThompsonModernSemibold.svg#ThompsonModernSemibold') format('svg'),
      url('@{fa-font-path}/ThompsonModernSemibold.woff2') format('woff2'),
      url('@{fa-font-path}/ThompsonModernSemibold.woff') format('woff'),
      url('@{fa-font-path}/ThompsonModernSemibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Thompson Modern';
  font-style: italic;
  font-weight: normal;
  src: local(Thompson Mondern Italic), local(ThompsonModern-Italic);
  src: url('@{fa-font-path}/ThompsonModernItalic.eot'),
      url('@{fa-font-path}/ThompsonModernItalic.eot?#iefix') format('embedded-opentype'),
      url('@{fa-font-path}/ThompsonModernItalic.svg#ThompsonModernItalic') format('svg'),
      url('@{fa-font-path}/ThompsonModernItalic.woff2') format('woff2'),
      url('@{fa-font-path}/ThompsonModernItalic.woff') format('woff'),
      url('@{fa-font-path}/ThompsonModernItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Thompson Modern';
  font-style: italic;
  font-weight: bold;
  src: local(Thompson Modern Semibold Italic), local(ThompsonModernSemiBold-Italic);
  src: url('@{fa-font-path}/ThompsonModernSemiboldItalic.eot'),
      url('@{fa-font-path}/ThompsonModernSemiboldItalic.eot?#iefix') format('embedded-opentype'),
      url('@{fa-font-path}/ThompsonModernSemiboldItalic.svg#ThompsonModernSemiboldItalic') format('svg'),
      url('@{fa-font-path}/ThompsonModernSemiboldItalic.woff2') format('woff2'),
      url('@{fa-font-path}/ThompsonModernSemiboldItalic.woff') format('woff'),
      url('@{fa-font-path}/ThompsonModernSemiboldItalic.ttf') format('truetype');
}

/* Thompson Modern, Light */

@font-face {
  font-family: 'Thompson Modern Light';
  font-style: normal;
  font-weight: normal;
  src: local(Thompson Modern Light), local(ThompsonModernLight-Regular);
  src: url('@{fa-font-path}/ThompsonModernLight.eot'),
      url('@{fa-font-path}/ThompsonModernLight.eot?#iefix') format('embedded-opentype'),
      url('@{fa-font-path}/ThompsonModernLight.svg#ThompsonModernLight') format('svg'),
      url('@{fa-font-path}/ThompsonModernLight.woff2') format('woff2'),
      url('@{fa-font-path}/ThompsonModernLight.woff') format('woff'),
      url('@{fa-font-path}/ThompsonModernLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Thompson Modern Light';
  font-style: italic;
  font-weight: normal;
  src: local(Thompson Modern Light Italic), local(ThompsonModernLight-Italic);
  src: url('@{fa-font-path}/ThompsonModernLightItalic.eot'),
      url('@{fa-font-path}/ThompsonModernLightItalic.eot?#iefix') format('embedded-opentype'),
      url('@{fa-font-path}/ThompsonModernLightItalic.svg#ThompsonModernLightItalic') format('svg'),
      url('@{fa-font-path}/ThompsonModernLightItalic.woff2') format('woff2'),
      url('@{fa-font-path}/ThompsonModernLightItalic.woff') format('woff'),
      url('@{fa-font-path}/ThompsonModernLightItalic.ttf') format('truetype');
}


/* Thompson Modern, Logo */

@font-face {
  font-family: 'Thompson Modern Logo';
  font-style: normal;
  font-weight: normal;
  src: local(Thompson Modern Logo), local(ThompsonModernLogo-Regular);
  src: url('@{fa-font-path}/ThompsonModernLogo.eot'),
      url('@{fa-font-path}/ThompsonModernLogo.eot?#iefix') format('embedded-opentype'),
      url('@{fa-font-path}/ThompsonModernLogo.svg#ThompsonModernLogo') format('svg'),
      url('@{fa-font-path}/ThompsonModernLogo.woff2') format('woff2'),
      url('@{fa-font-path}/ThompsonModernLogo.woff') format('woff'),
      url('@{fa-font-path}/ThompsonModernLogo.ttf') format('truetype');
}


/* Thompson Semi Bold */

@font-face {
  font-family: 'Thompson Semi Bold';
  font-style: normal;
  font-weight: normal;
  src: local(Thompson Semi Bold), local(Thompson Semi Bold);
  src: url('@{fa-font-path}/ThompsonModernSemibold.eot'),
      url('@{fa-font-path}/ThompsonModernSemibold.eot?#iefix') format('embedded-opentype'),
      url('@{fa-font-path}/ThompsonModernSemibold.svg#ThompsonSemibold') format('svg'),
      url('@{fa-font-path}/ThompsonModernSemibold.woff2') format('woff2'),
      url('@{fa-font-path}/ThompsonModernSemibold.woff') format('woff'),
      url('@{fa-font-path}/ThompsonModernSemibold.ttf') format('truetype');
}
