body {font-family: 'Thompson Modern Light'; background-color:@blue; color:@color-white;}

html, body, ul, li, ul li ul, ul li ol, form {margin: 0;}
ul {list-style: none;}
input:focus {outline: none; box-shadow: none;}

a {text-decoration: none; color:@color-btn; cursor: pointer;}
a:hover, a:focus {text-decoration: none; color:@color-btn-hover;}

.padding-0 {padding:0px;}
.padding-right-none {padding-right:0px;}
.padding-left-none {padding-left:0px;}
.margin-auto {margin:auto;}
.margin-top-0 {margin-top:0px;}
.margin-top-5 {margin-top:5px;}
.margin-top-10 {margin-top:10px;}
.margin-top-15 {margin-top:15px;}
.margin-top-20 {margin-top:20px;}
.margin-top-25 {margin-top:25px;}
.margin-top-30 {margin-top:30px;}
.margin-top-35 {margin-top:35px;}
.margin-top-40 {margin-top:40px;}
.margin-right-5 {margin-right:5px;}
.margin-right-10 {margin-right:10px;}
.margin-right-15 {margin-right:15px;}
.margin-btm-none {margin-bottom:0px;}
.margin-btm-3 {margin-bottom:3px;}
.margin-btm-5 {margin-bottom:5px;}
.margin-btm-10 {margin-bottom:10px;}
.margin-btm-15 {margin-bottom:15px;}
.margin-btm-20 {margin-bottom:20px;}
.margin-btm-30 {margin-bottom:30px;}
.margin-left-none {margin-left:0px;}
.margin-left-10 {margin-left:10px;}
.margin-left-15 {margin-left:15px;}
.margin-left-20 {margin-left:20px;}

.italic {font-style: italic}
.bold {font-weight: bold}
.underline {text-decoration: underline;}
.text-center {text-align: center;}

.leftpanel-fix {
	background-color: @color-blue3;
	height:100%;
	position: fixed;
	width:58px;
	top:0px;
	.logo {
		color:@color-gray7;
		font-size:1.286em;
		height:86px;
		line-height:86px;
		text-align: center;
	}
	.left-nav {
		ul {
			margin:0px;
			padding:0px;
			list-style: none;
			li {
				border-bottom:1px solid #1e2c37;
				margin:0px;
				cursor: pointer;
				font-size:21px;
				color:@blue-lightest;
				text-align: center;
				a {
					display: block;
					line-height:48px;
					color:@blue-lightest;
				}
				&.select {
					background-color:@blue-dark;
					color:@color-btn;
					border-bottom:1px solid #515f68;
					a {
						color:@color-btn;
					}
				}
				&.logout {
					font-size:19px;
				}
				&:last-child {
					border-bottom:none;
				}
			}
		}
	}
}
.main-rtpanel {
	margin-left:73px;
	header {
		background-color:@blue;
		border-bottom:5px solid @color-3a6e96;
		.nav-top {
			margin-top:13px;
			ul {
				list-style: none;
				margin:0px;
				padding:0px;
				li {
					.pull-left;
					font-family:@font-thompson-modern-light;
					font-size:1.429em;
					margin-right:5px;
					min-width:200px;
					text-transform: uppercase;
					position: relative;
					a {
						background-color:@blue-light;
						border-top-left-radius:10px;
						border-top-right-radius:10px;
						color:@color-gray8;
						display:block;
						padding:14px 0px 14px 24px;
						i {
							background-color:@blue-lighter;
							border-top-right-radius:10px;
							.pull-right;
							margin-top:-14px;
							padding:17px 18px;
							font-size:21px;
						}
					}
					.dropdown-screen {
						width:395px;
						background-color:@color-blue16;
						position: absolute;
						top:55px;
						left:143px;
						padding:12px 20px;
						z-index:3;
                        min-height: 70px;
						.custome-selectbox {
							margin-bottom: 0px;
							span {
								font-size:17px;
								text-transform: capitalize;
							}
							.select-list {
								li {
									font-size:17px;
									float:none;
									margin-right:0px;
									text-transform: none;
									.ellipsis;
									width: 99%;
								}
							}
						}
						&.dropdown-expand {
							height:342px;
								&.totalHeightnormal {
									height:70px;
								}
								&.totalHeight0 {
									height:132px;
								}
								&.totalHeight1{
									height: 132px;
								}
								&.totalHeight2{
									height: 187px;
								}
								&.totalHeight3{
									height: 240px;
								}
								&.totalHeight4{
									height: 296px;
								}
								&.totalHeight5{
									height: 350px;
								}
						}
					}
				}
				li.select {
					a {
						background-color: @color-3a6e96;
						color:@color-white;
						i {
							background-color:@color-blue16;
						}
					}
				}
			}
		}
		.headerrt-icons {
			.pull-right;
			line-height:69px;
			margin-left:20px;
			padding:0px 5px;
			font-size:21px;
			color:@color-blue10;
		}
	}
	&.new-wind-rtpanel{
		margin-left:10px;
	}
}
.main-portion {
}

.modal-content {
	background-color:@blue-darker;
	color:@color-white;
	.modal-header {
		border-bottom:none;
		padding:30px 50px 10px 50px;
		.modal-title {
			font-size:1.429em;
			color:@color-btn;
		}
	}
	.modal-body {
		padding:15px 50px 15px 50px;
	}
	.modal-footer {
		border-top :0px;
		padding:20px 15px;
	}
}





/*----------------- Responsive CSS -----------------*/
@media screen and (max-width: 800px){
	.main-rtpanel {
		header {
			.nav-top {
				ul {
					li {
						width:97%;
						margin-bottom:8px;
					}
				}
			}
		}
	}
	.clientmap-wrap{
		.col-sm-10{
			width: 100%;
		}
		.subtitle-lr{
			&.col-sm-7{
				width: auto !important;
			}
		}
	}
	
	.assignuser-table {
		.userdtls {
			width:40% !important;
		}
		.user-rtdtl {
			width:60% !important;
		}
		&.userlist-tbl{
			.userdtls {
				width:45% !important;
				.clientname{
					width: auto !important;
				}
			}
			.user-rtdtl {
				width:55% !important;
				.inputbox{
					/*width: auto !important;*/
				}
			}
		}
	}

	.newproject-wrap{
		.newproject-form{
			.col-sm-6-lr{
				width: 41.66% !important;
			}
			.col-sm-2-lr{
				width: 25% !important;
			}
		}
	}

	.masonry-brick.big-tile.popped-window{
      .question7-2 {
        float: left;
      }
	  .question7-1{
		  &.pull-right{
			  float: left !important;
			  margin-left: 10%;
		  }
	  }
    }
	.col-sm-offset-1{
		margin-left: 13.3333%;
		width: 40%;
	}
}


/**************GoogleHotTrend-CSS*******************/


#googleHotTrendSelect {
  #chartselectgoogleTrend {
    width: 250px;
    left: 15px;
    position: relative;
    top: -54px;
		z-index: 10;
  }

  .workspace-drop-selected {
    width: 250px;
    position: relative;
    left: 14px;
    top: -55px;
    background-color: @color-blue22;
    height: 49px;
    margin: 0;
    padding: 12px;
  }

  .custome-selectbox {
      .select-list{
          top: 46px;
      }
    }

    .icon-jwt-leftbottom-arrow{
      color:@color-gray4;
      position: relative;
      top: -4px;
      left: -1px;
      font-size: 0.8em;
    }
}
