/*----------------- Default Form -----------------*/
.form {
	.form-group {
		label {
			font-size:1.214em;
			color:@color-gray1;
			opacity:0.7;
			font-weight: normal;
		}
		.form-control {
			background-color: @color-blue2;
			color:@color-gray9;
			font-size:1.143em;
			font-style: italic;
			border:none;
			padding:0px 12px;
			height:42px;
			font-style: italic;
			&:focus {
				outline: none;
				box-shadow: none;
			}
		}
	}
}

.form-select {
	background-color: @color-blue2;
	color:@color-gray9;
	font-size:1.143em;
	font-style: italic;
	border:none;
	padding:0px 12px;
	height:42px;
	width:100%;
	&:focus {
		outline: none;
	}
}


/*----------------- Default Primary Button -----------------*/
.btn-primary {
	background-color: @color-btn;
	//font-size:1.071em;
	padding:11px 20px;
	.border-radius(3px);
	color:@color-blue1;
	font-family: @font-thompson-modern;
	border:none;
	&:active, &:focus, .btn:focus, &:active:focus {
		background-color: @color-btn;
		border:none;
		outline: none;
		box-shadow: none;
		color:@color-blue1;
	}
	&:hover {
		background: url(../../assets/img/loginbg-hover.jpg) repeat 0 0;
		color:@color-blue1;
		border:none;
	}
}

.btn-cancel {
	background-color: @color-blue1;
	padding:11px 20px;
	color:@color-btn;
	font-family: @font-thompson-modern;
	border:none;
	.border-radius(3px);
	&:active, &:focus, .btn:focus, &:active:focus {
		background-color: @color-blue1;
		border:none;
		outline: none;
		box-shadow: none;
		color:@color-btn;
	}
	&:hover {
		background-color: @color-blue4;
		color:@color-btn;
		border:none;
	}
}

.btn-outline {
	background: transparent;
	padding:10px 19px;
	color:@color-gray4;
	font-family: @font-thompson-modern;
	.border-radius(3px);
	border:1px solid @color-gray4;
	&:active, &:focus, .btn:focus, &:active:focus {
		background: transparent;
		border:1px solid @color-gray4;
		outline: none;
		box-shadow: none;
		color:@color-blue17;
	}
	&:hover {
		color:@color-blue17;
		border:1px solid @color-gray4;
	}
	&.border-cloud{
		color:@color-btn;
		border:1px solid @color-btn;
		&:hover {
			color:@color-btn;
			border:1px solid @color-btn;
		}
	}
}

.btn-big {padding:11px 40px;}

/*----------------- Default Pagination -----------------*/
ul.pagination {
	li {
		a {
			background: none;
			border:none;
			color:@color-btn;
			font-size:16px;
			&:hover, &:active {
				background: none;
				color:@color-btn;
				border: none;
			}
		}
		&.pagination-page a {
			color:@color-blue5;
		}
		&.pagination-first {
			a {
				// color:@color-btn;
				text-decoration: underline;
			}
		}
		&.pagination-last {
			a {
				// color:@color-btn;
				text-decoration: underline;
			}
		}
		&.disabled a {
			background: none;
			&:hover, &:focus {
				background: none;
				outline: none;
				color:@color-blue5;
			}
		}
		&.active a {
			background: none;
			border:1px solid @color-blue5;
			color:@color-blue5;
			padding:0px 7px;
			.border-radius(3px);
			margin:3px 1px 0px 0px;
			&:hover, &:focus {
				background: none;
				color:@color-btn;
				border:1px solid @color-blue5;
			}
		}
	}
}


/*----------------- Navigation Sub Tabs  -----------------*/

.nav-subtabs {
	border-bottom:1px solid @color-dark4;
	padding:0px;
	margin:0px;
	li {
		.pull-left;
		span {
			padding: 5px 18px;
			border-right:1px solid @color-dark4;
			a {
				font-size:1.286em;
				color:@color-gray13;
				padding:9px 8px;
				display: inline-block;
				&:hover {
					background: transparent;
					color:@color-btn;
				}
				&.active {
					color:@color-btn;
					border-bottom:2px solid @color-btn;
				}
			}
		}
		&:last-child span {
			border-right:none;
		}
		&:first-child span {
			padding-left:0;
		}
	}
}


/*----------------- Default Table -----------------*/
.table {
	//border:1px solid @color-blue4;
	thead {
		background-color: @color-blue3;
		tr {
			td {
				font-size:1.143em;
				border-bottom:1px solid @color-blue4;
				opacity:0.7;
			}
		}
	}
	tbody {
		tr {
			td {
				font-size:1.143em;
				border-bottom:1px solid @color-blue4;
				color:@color-blue5;
			}
		}
	}
}

.table-bordered {
	border:1px solid @color-blue4;
	thead {
		background-color: @color-blue3;
		tr {
			td {
				font-size:1.143em;
				border:1px solid @color-blue4;
				padding:10px 8px;
				opacity:0.7;
			}
		}
	}
	tbody {
		tr {
			td {
				font-size:1.143em;
				border:1px solid @color-blue4;
				color:@color-blue5;
			}
		}
	}
}

/*----------------- Warning Messages  -----------------*/
.warning-message {
	border:1px solid @color-error;
	padding:8px 20px;
	font-size:1.143em;
	line-height:23px;
	color:@color-error;
	.infoicon {
		font-size:21px;
		.pull-left;
		margin-right:20px;
	}
}

/*----------------- Custome Dropdown Form   -----------------*/
.form-selectbox {
	background-color: @color-blue28;
	position: relative;
	.border-radius(4px);
	span {
		padding-left:12px;
		display: block;
		font-size:1.143em;
		color:@color-gray12;
		line-height:42px;
		.blue-arrow {
			background-color: @color-btn;
			display: block;
			.pull-right;
			line-height:42px;
			padding:0 12px;
			font-size:20px;
			color:@color-blue22;
			.border-top-right-radius(4px);
			.border-bottom-right-radius(4px);
		}
	}

	ul.select-list {
		width:100%;
		max-height: 270px;
		overflow: auto;
		background-color: @color-blue28;
		margin:0px;
		padding: 0px;
		position: absolute;
		top:43px; 
		 
		li {
			font-size:1.214em;
			color:@color-blue24;
			padding:8px 20px;
			cursor: pointer;
			&:hover {
				color:@color-blue24;
				background-color: @color-blue23;
			}
		}
	}
	ul.select-list-client {
		width:100%;
		max-height: 270px;
		overflow: auto;
		background-color: @color-blue28;
		margin:0px;
		padding: 0px;
		position: absolute;
		top:43px; 
		z-index: 9999;
		    border-bottom: 1px solid #141D24;
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    border-left: 1px solid #141D24;
    border-right: 1px solid #141D24;
		li {
			font-size:1.214em;
			color:@color-blue24;
			padding:8px 20px;
			cursor: pointer;
			&:hover {
				color:@color-blue24;
				background-color: @color-blue23;
			}
		}
	}
}

.custome-selectbox {
	background-color: @color-blue22;
	position: relative;
	span {
		padding:12px;
		display: block;
		font-size:1.143em;
		color:@color-gray12;
		.down-arrow {
			font-size:11px;
			margin-top:5px;
			.pull-right;
		}
	}
	ul.select-list {
		width:100%;
		max-height: 270px;
		overflow: auto;
		background-color: @color-blue22;
		margin:0px;
		padding: 0px;
		position: absolute;
		top:47px;
		z-index: 3;
		li {
			font-size:1.214em;
			color:@color-blue24;
			padding:15px 20px;
			cursor: pointer;
			.ellipsis;
			width: 99%;
			&:hover {
				color:@color-blue24;
				background-color: @color-blue23;
			}
		}
	}
}

/*----------------- Drop-down Auto Search -----------------*/

.dropdown-autosearch {
	.dropdown-menu {
		position:static;
		background-color: @color-blue25;
		width:100%;
		padding:0px;
		margin-top: -2px;
		box-shadow: none;
		border: none;
		max-height: 220px;
		left:0;
		overflow: auto;
		.border-radius(0px);
		li {
			word-wrap: break-word;
			overflow:hidden;
			a {
				background-color: @color-blue25;
				padding:9px 5px 9px 15px;
				color:@color-gray2;
				&:hover {
					background-color: @color-blue26;
					color:@color-blue27;
				}
			}
		}
	}
}

/*----------------- Radio and Checkbox Button Stylish -----------------*/
input[type="radio"], [type="checkbox"] {
	display: none;
}
input[type="radio"] + label:before {
	speak:none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 20px;
	content: "\e90f";
	display: inline-block;
	margin-right:6px;
	font-size:21px;
}

input[type="radio"]:checked + label:before {
	content: "\e90e";
}

input[type="checkbox"] + label:before {
	speak:none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 20px;
	content: "\e92a";
	display: inline-block;
	margin-right:6px;
	font-size:23px;
}

input[type="checkbox"]:checked + label:before {
	content: "\e92b";
	color:@color-btn;
	width: 17px;
	height: 17px;
	border:1px solid @check-color;
	.border-radius(4px);
	font-size: 22px;
	line-height: 6px;
	padding-left: 1px;
}
