@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?72q124');
  src:  url('../fonts/icomoon.eot?72q124#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?72q124') format('truetype'),
    url('../fonts/icomoon.woff?72q124') format('woff'),
    url('../fonts/icomoon.svg?72q124#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-jwt-cancel:before {
  content: "\e92f";
}

.icon-jwt-contract:before {
  content: "\e92e";
}
.icon-jwt-google-hot-trend:before {
  content: "\e92d";
}
.icon-jwt-leftbottom-arrow:before {
  content: "\e92c";
}
.icon-jwt-checkarrow:before {
  content: "\e92b";
}
.icon-jwt-checkedbox:before {
  content: "\e929";
}
.icon-jwt-checkbox:before {
  content: "\e92a";
}
.icon-jwt-emo-trust:before {
  content: "\e928";
}
.icon-jwt-emo-anticipation:before {
  content: "\e921";
}
.icon-jwt-emo-joy:before {
  content: "\e922";
}
.icon-jwt-emo-surprise:before {
  content: "\e923";
}
.icon-jwt-emo-fear:before {
  content: "\e924";
}
.icon-jwt-emo-sadness:before {
  content: "\e925";
}
.icon-jwt-emo-anger:before {
  content: "\e926";
}
.icon-jwt-emo-disgust:before {
  content: "\e927";
}
.icon-jwt-uparrow-bdl:before {
  content: "\e91d";
}
.icon-jwt-downarrow-dbl:before {
  content: "\e91e";
}
.icon-jwt-exclumetory:before {
  content: "\e91f";
}
.icon-jwt-plus:before {
  content: "\e920";
}

.icon-jwt-doller:before {
  content: "\e916";
}
.icon-jwt-gender-female:before {
  content: "\e917";
}
.icon-jwt-gender-male:before {
  content: "\e918";
}
.icon-jwt-education:before {
  content: "\e919";
}
.icon-jwt-doller-border:before {
  content: "\e91a";
}
.icon-jwt-family:before {
  content: "\e91b";
}
.icon-jwt-lang-others:before {
  content: "\e91c";
}

.icon-jwt-resize:before {
  content: "\e915";
}
.icon-jwt-arrow-down:before {
  content: "\e910";
}
.icon-jwt-info:before {
  content: "\e911";
}
.icon-jwt-search:before {
  content: "\e912";
}
.icon-jwt-Smiley-sad:before {
  content: "\e913";
}
.icon-jwt-Smiley:before {
  content: "\e914";
}


.icon-jwt-home:before {
  content: "\e900";
}
.icon-jwt-user:before {
  content: "\e901";
}
.icon-jwt-star:before {
  content: "\e902";
}
.icon-jwt-bulb:before {
  content: "\e903";
}
.icon-jwt-timer:before {
  content: "\e904";
}
.icon-jwt-value:before {
  content: "\e905";
}
.icon-jwt-message:before {
  content: "\e906";
}
.icon-jwt-flag:before {
  content: "\e907";
}
.icon-jwt-logout:before {
  content: "\e908";
}
.icon-jwt-nav:before {
  content: "\e909";
}
.icon-jwt-edit:before {
  content: "\e90a";
}
.icon-jwt-google:before {
  content: "\e90b";
}
.icon-jwt-close:before {
  content: "\e90c";
}
.icon-jwt-arrow-rt:before {
  content: "\e90d";
}
.icon-jwt-circle-fill:before {
  content: "\e90e";
}
.icon-jwt-circle:before {
  content: "\e90f";
}
