
         <div id="infegyHomeSelect" ng-class="masonryelementclass">
           <div class="headsection clearfix" >
                 <i ng-if="!$ctrl.isWorkspace" ng-class="{' active': $ctrl.isActive}" ng-click="$ctrl.isActive = !$ctrl.isActive;" class="expand icon-jwt-leftbottom-arrow"></i>
           </div>
           <div class="gridmid-section clearfix">
                 <div ng-if="$ctrl.isActive && $ctrl.showWorkspaceSelect">
                    <jwt-workspace-select jwt-chart-id="'infegy'" ></jwt-workspace-select>
                 </div>
           </div>
         </div>



<div class="main-rtpanel infegy-home">
  <div class="main-portion margin-top-0">
    <div id="grid" class="clearfix workspace-lower-index">
        <iframe id="infegyFrame" width="100%" name="{{frameName}}" ng-src="{{frameUrl}}">
        </iframe>
        <div id="iframealternative"></div>
    </div>
    <!--<jwt-workspace-list></jwt-workspace-list>-->
  </div>
</div>
