// @color-white: #fff;
.infegy-home{
    margin-left:60px;
    .margin-top-0{
        margin-top:0px;
        iframe{
            border:none;
        }
        .workplace-section {
            margin-left:0px;
        }
    }
}

#infegyHomeSelect {
  #chartselectinfegy {
    width: 250px;
    left: 15px;
    position: relative;
    top: -54px;
    z-index: 12;
  }

  .workspace-drop-selected {
    width: 250px;
    position: relative;
    left: 14px;
    top: -55px;
    background-color: @color-blue22;
    height: 49px;
    margin: 0;
    padding: 12px;
  }

  .custome-selectbox {
      .select-list{
          top: 46px;
      }
    }

    .icon-jwt-leftbottom-arrow{
      color:@color-gray4;
      position: relative;
      top: -4px;
      left: -1px;
      font-size: 0.8em;
    }
}
