
/* Custom page CSS
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #031D44;
  color: #FFFFFF;
}
h1 {
  color: #42B6E7;
}
input[type=submit] {
    background: #42B6E7;
    padding: 8px 0;
    margin-top: 10px;
    display: block;
    border-width: 0;
    width: 100%;
    font-family: 'Thompson Modern';
    font-size: 16px;
    color: #FFF;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #031D44;
}
	
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}
