<div class="container-fluid">

  <div class="alert alert-info element__top-padding" ng-if="$ctrl.isProcessing()">
    <span class="glyphicon glyphicon-cog gly-spin" aria-hidden="true"></span> Please wait ...
  </div>

  <div class="panel panel-default element__top-padding">
    <div class="panel-heading"><h4>Edit brand</h4></div>
    <div class="panel-body">

      <jwt-brand-form
        create="false" brand-to-update="$ctrl.getBrand()" 
        api-error="$ctrl.hasApiError()" api-error-details="$ctrl.getApiErrorDetails()" api-error-message="$ctrl.getApiErrorMessage()" 
        communication-error="$ctrl.hasCommunicationError()" communication-error-message="$ctrl.getCommunicationErrorMessage()" 
        on-cancel="$ctrl.cancel($event)" on-save="$ctrl.save($event)" >
      </jwt-brand-form>

    </div>
  </div>

</div> 