<div class="clientmap-wrap newproject-wrap">
    <div class="modal-header">
        <h3 class="modal-title margin-top-20" id="modal-title">Add New Project</h3>
    </div>
    <form name="createProjectForm">
        <div class="modal-body" id="modal-body">
            <div class="form newproject-form dropdown-autosearch">
                <div class="row">
                    <div class="col-sm-4 padding-right-none">
                        <div class="form-group">
                            <label>Client *</label>
                            <div class="input-icon-search">
                                <jwt-client-search on-client-select="$ctrl.onClientSelect(client)"></jwt-client-search>
                                <a href="" class="icon-jwt-search search-icon"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 padding-right-none">
                        <div class="form-group">
                            <label>Brand *</label>
                            <div class="input-icon-search">
                                <jwt-brand-search client="$ctrl.model.client" on-brand-select="$ctrl.onBrandSelect(brand)"></jwt-brand-search>
                                <a href="" class="icon-jwt-search search-icon"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Project Name *</label>
                            <div class="input-icon-search">
                                <input type="text" maxlength="75" autocomplete="off" ng-disabled="$ctrl.isProjectDisabled" ng-change="$ctrl.projectNameChange()" name="projectName" no-special-char ng-model="$ctrl.model.projectName" maxlength="75" class="input form-control" placeholder="Define name">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="margin-top-5 warning-message margin-btm-20" ng-show="$ctrl.showError">
                    <jwt-inline-message content="'The project name you selected already exists. Please select a new one.'"></jwt-inline-message>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h5 class="subtitle margin-top-25">Search users</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 padding-right-none">
                        <div class="form-group">
                            <div class="input-icon-search">
                                <input type="text" autocomplete="off" name="client" ng-model="$ctrl.model.userSearchTxt" placeholder="search" uib-typeahead="item as item.name +' '+item.lastName + ' (' + item.email + ')' for item in $ctrl.getUserList($viewValue,'name')" typeahead-loading="loadingLocations"
                                    typeahead-no-results="nofnameResults" class="input form-control" typeahead-on-select="$ctrl.onSelectionChange($item, $model, $label, $event)">
                                <div ng-show="nofnameResults && $ctrl.model.userSearchTxt!=''">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                                <a href="" class="icon-jwt-search search-icon"></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 padding-right-none">
                        <div class="form-group">
                            <!--<select placeholder="Define role" ng-options="option.displayName for option in $ctrl.dataModel.userRoles track by option.id" class="form-control" ng-model="$ctrl.model.currentUser.userRole">
                           </select> -->
                            <div id="roleselect" class="selectbox clearfix">
                                <div ng-click="$ctrl.viewModel.showUl = !$ctrl.viewModel.showUl" class="form-selectbox">
                                    <span>{{$ctrl.selectedRole}} <i class="blue-arrow icon-jwt-arrow-down"></i></span>
                                    <ul class="select-list-client" ng-show="$ctrl.viewModel.showUl">
                                        <li ng-repeat="option in $ctrl.dataModel.userRoles track by option.id" ng-click="$ctrl.onUserRoleSelect(option);" ng-if="$ctrl.selectedRole!=option.displayName">{{option.displayName}}</li>

                                    </ul>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button ng-disabled="!$ctrl.validation.assignUser" class="btn btn-primary btn-block" ng-click="$ctrl.onAssignUser()" type="button">Assign</button>
                    </div>
                </div>

                <div class="project-list margin-top-20 clearfix" ng-show="$ctrl.model.users.length >0">
                    <div class="col-sm-12">

                        <div class="list row" ng-repeat="item in $ctrl.model.users   | mvPagination : $ctrl.paginationSettings.currentPage : $ctrl.paginationSettings.recordsPerPage">
                            <div class="col-sm-3 user-name">{{item.email}}</div>
                            <div class="col-sm-3 brand-name">{{$ctrl.model.client.name}} / {{$ctrl.model.brand.name}}</div>
                            <div class="col-sm-3 brand-name">{{item.userRole.displayName}}</div>
                            <div class="col-sm-3"><a class="userline" ng-click="$ctrl.onUnAssignUser(item)">Unassign</a></div>
                        </div>


                    </div>
                </div>
                <div ng-show="$ctrl.model.users.length > $ctrl.paginationSettings.recordsPerPage" class="text-center margin-top-10">
                    <ul uib-pagination ng-show="$ctrl.model.users.length > 1" total-items="$ctrl.model.users.length" items-per-page=" $ctrl.paginationSettings.recordsPerPage" ng-model="$ctrl.paginationSettings.currentPage " class="pagination-sm" boundary-links="true" rotate="false"></ul>
                </div>


                <div class="row">
                    <div class="col-sm-12">
                        <h5 class="subtitle margin-top-25">Infegy Queries</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 padding-right-none">
                        <div class="form-group">
                            <div class="input-icon-search">
                                <textarea class="input form-control textareaMainClass" ng-change="$ctrl.validateQuery()" ng-model="$ctrl.model.queryString">
                                </textarea>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 padding-right-none">
                        <div class="form-group">
                            <!--<select placeholder="Define role" ng-options="option.displayName for option in $ctrl.dataModel.userRoles track by option.id" class="form-control" ng-model="$ctrl.model.currentUser.userRole">
                           </select> -->
                            <div id="typeselect" class="selectbox clearfix">
                                <div ng-click="$ctrl.viewModel.showTypeUl = !$ctrl.viewModel.showTypeUl" class="form-selectbox">
                                    <span>{{$ctrl.selectedType}} <i class="blue-arrow icon-jwt-arrow-down"></i></span>
                                    <ul class="select-list-client" ng-show="$ctrl.viewModel.showTypeUl">
                                        <li ng-repeat="option in   $ctrl.dataModel.queryTypes  track by option.id" ng-click="$ctrl.onQueryTypeSelect(option);" ng-if="$ctrl.selectedType!=option.description">{{option.description}}</li>

                                    </ul>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button ng-disabled="!$ctrl.validation.assignQuery" class="btn btn-primary btn-block" ng-click="$ctrl.onAssignQuery()" type="button">Add</button>
                    </div>
                </div>


                <div class="project-list margin-top-20 clearfix" ng-show="$ctrl.model.queries.length >0">
                    <div class="col-sm-12 form ">
                        <div class="row form-group " ng-repeat="item in $ctrl.model.queries   | mvPagination : $ctrl.paginationSettings.currentPage : $ctrl.paginationSettings.recordsPerPage">
                            <div class="col-sm-8 input-icon-search  createQuery">
                                <textarea ng-model="item.queryString" class="input form-control textareaClass"> {{item.queryString}}
                                </textarea>

                                <span class="icon-jwt-cancel input-icon-create-close input-icon-close" ng-click="$ctrl.deleteQuery(item.rowId)">  </span>
                            </div>
                            <div class="col-sm-4 input-icon-search createQuerySelect" ng-click="$ctrl.getRowId($index)">
                                <div id="typeselect_{{item.rowId}}" class="selectbox clearfix">
                                    <div ng-click="$ctrl.showTypeUl = !$ctrl.showTypeUl" class="form-selectbox">
                                        <span ng-show=" $ctrl.showRowId">{{item.rowId}}</span>
                                        <span>{{item.description}} <i class="blue-arrow icon-jwt-arrow-down"></i></span>
                                        <ul class="select-list-client" ng-show="$ctrl.rowId==item.rowId && $ctrl.showTypeUl ==true">
                                            <li ng-model="item.queryTypeId" ng-repeat="option in   $ctrl.dataModel.queryTypes  track by option.id" ng-click="$ctrl.onQueryLisTypeSelect(option,item.rowId);" ng-if="$ctrl.selectedType!=option.description">{{option.description}}</li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
                <div ng-show="$ctrl.model.queries.length > $ctrl.paginationSettings.recordsPerPage" class="text-center margin-top-10">
                    <ul uib-pagination ng-show="$ctrl.model.queries.length > 1" total-items="$ctrl.model.queries.length" items-per-page=" $ctrl.paginationSettings.recordsPerPage" ng-model="$ctrl.paginationSettings.currentPage " class="pagination-sm" boundary-links="true"
                        rotate="false"></ul>
                </div>












            </div>
        </div>
    </form>
    <div class="modal-footer text-center margin-top-25 margin-btm-15">
        <button class="btn btn-cancel btn-big-space" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        <button ng-disabled="!$ctrl.validation.save" class="btn btn-primary btn-big-space margin-left-10" type="button" ng-click="$ctrl.save()">Save</button>
    </div>
</div>