<div class="model-delete">
    <div class="modal-header">
        <h3 class="modal-title title" id="modal-title">Are you sure you want to cancel this creation?</h3>
    </div>

    <div class="modal-footer text-center margin-top-15 margin-btm-20">
        <button class="btn btn-cancel btn-big" type="button" ng-click="$ctrl.cancelProject()">No</button>
        <button class="btn btn-primary btn-big" type="button" ng-click="$ctrl.saveProject()">Yes</button>
    </div>
</div>