.newproject-wrap {
  margin:0px;
  .newproject-form {
    .form-group {
      .form-control {
        background-color: @color-blue1;
      }
    }
  }
  .btn-big-space {
    padding:11px 35px;
  }
  .project-list {
    .list {
      font-size:1.143em;
      border-bottom:1px solid @color-blue1;
      &:first-child {
        border-top:1px solid @color-blue1;
      }
      padding:10px 0px;
      .user-name {
        word-wrap: break-word;
        color:@color-gray3;
      }
      .brand-name {
        color:@color-blue7;
      }
    }
  }
}
