<div class="grid-item">
  <div class="grid-item-content" id="chartId-g4">
    <div ng-class="masonryelementclass">
      <div class="headsection clearfix">
        <span class="title">Google Trend</span>
        <span class="title-question question-text"> 5</span>
        <i id="expandTile_5" ng-hide="$ctrl.isWorkspace" class="expand icon-jwt-resize"></i>
        <i ng-if="!$ctrl.isWorkspace" ng-hide="!$ctrl.showWorkspaceSelect" ng-class="{' active': $ctrl.isActive}" ng-click="$ctrl.isActive = !$ctrl.isActive;" class="expand icon-jwt-nav"></i>
        <i class=" expand glyphicon glyphicon-refresh" ng-click="$ctrl.refreshView();"></i>
      </div>
      <div class="gridmid-section clearfix">
        <div ng-if="$ctrl.isActive && $ctrl.showWorkspaceSelect">
          <jwt-workspace-select jwt-chart-id="'g5'"></jwt-workspace-select>
        </div>
        <div id="trends-widget-g5-collapse"></div>
      </div>
    </div>
  </div>
</div>