<div ng-class="{'select': $ctrl.selected }" class="clearfix">
    <div class="userdtls">
        <span class="usercheckbox">
          <input type="checkbox" id="checkbox-{{$ctrl.index}}" ng-model="$ctrl.selected" ng-click="$ctrl.selectUser($event)" name="" value="option1">
          <label for="checkbox-{{$ctrl.index}}" class="icon-jwt-checkarrow check-label"></label>
        </span>
        <span class="username">{{$ctrl.users.email}}  </span>
        <span class="clientname">{{$ctrl.users.clientName}} / {{$ctrl.users.brandName}}</span>
    </div>
    <div class="user-rtdtl">
        <button ng-disabled="!$ctrl.selected" class="btn btn-outline btn-unassign margin-left-15 pull-right" ng-click="$ctrl.unassignUser()" type="button">Unassign</button>
        <div class="form-group margin-btm-10 pull-right">

            <input type="text" ng-cloak disabled name="client" ng-model="$ctrl.users.roleDisplayName" ng-hide="$ctrl.selected" class="ng-cloak form-control inputbox" placeholder="Analyst">
            <div ng-cloak ng-show="$ctrl.selected" id="{{'userselects'+$ctrl.users.userId}}" class="selectbox clearfix">
                <div ng-click="$ctrl.viewModel.showUl = !$ctrl.viewModel.showUl" class="form-selectbox">
                    <span>{{$ctrl.selectedRole}} <i class="blue-arrow icon-jwt-arrow-down"></i></span>
                    <ul class="select-list-client" ng-show="$ctrl.viewModel.showUl">
                        <li ng-repeat="option in $ctrl.userroles track by $index" ng-if="$ctrl.selectedRole!=option.displayName" ng-click="$ctrl.onChange(option);">{{option.displayName}}</li>

                    </ul>
                </div>
            </div>


        </div>
    </div>
</div>

<div id="bottom">
</div>