.login-bg {
  width:100%;
  height:100%;
  background: url(../../assets/img/backgroung_login.jpg) no-repeat 0 0;
  background-size: cover;
  position: fixed;
}
.login-wrap {
  width:37.5%;
  margin:auto;
  margin-top:6%;
  padding-top:10px;
  padding-bottom:10px;
  .logo {
    width:202px;
    height:90px;
    opacity:0.3;
    margin:6% auto 9% auto;
    background-color:@color-blue18;
    font-size:2em;
    text-align: center;
    line-height: 90px;
    color:@color-white;
    font-weight: bold;
  }
  .loginForm {
    .form-group {
      label {
        font-size:1.286em;
        color:@color-white;
        font-weight: normal;
      }
      .form-control {
        background-color:@color-dark2;
        font-size:1.286em;
        color:@color-gray10;
        height: 55px;
        border:none;
      }
    }
    .login-remember {
      color: @color-btn;
      margin-top:0px;
      padding-right:0px;
      label {
        font-size:16px;
        padding-left:0px;
      }
    }
    .login-forgot {
      font-size:16px;
      color: @color-btn;
      text-align: right;
      text-decoration: underline;
      padding-left:0px;
      a {
        color: @color-btn;
        &:hover {
          color:@color-gray1;
        }
      }
    }
    .validation-icon {
      width:55px;
      height:55px;
      background-color:@color-blue19;
      text-align: center;
      .pull-right;
      display: inline-block;
      margin-top:-55px;
      line-height:55px;
      border-top-right-radius:4px;
      border-bottom-right-radius:4px;
    }
  }
  .btn-login {
    background-color: @color-btn;
    width: 167px;
    height:47px;
    font-size:18px;
    .border-radius(3px);
    color:@color-blue20;
    font-family: @font-thompson-modern;
    display: block;
    margin: 40px auto 0 auto;
    &:hover {
      background: url(../../assets/img/loginbg-hover.jpg) repeat 0 0;
      color:@color-blue20;
    }
  }
}

.login-copyright{
  width:100%;
  font-size:16px;
  color:@color-white;
  position: absolute;
  bottom:3%;
  .help{
    text-decoration: underline;
    text-align:right;
    a{
      color:@color-white;
      &:hover {
        color:@color-blue21;
      }
    }
  }
}
