<jwt-question-header ng-show="false"></jwt-question-header>
<div class="main-rtpanel new-wind-rtpanel">
 <div class="main-portion margin-top-15">
   <div id="grid" class="clearfix">
       <div ng-if="!$ctrl.viewModel.showError" ng-repeat="chart in $ctrl.dataModel.workspace.charts" jwt-html-template="chart.html" jwtcompilehtml="">
       </div>
        <div class="form-group warning-message margin-btm-20" ng-if="$ctrl.viewModel.showError">
            <jwt-inline-message content="'Invalid Request.'"></jwt-inline-message>
        </div>
    </div>
</div>
