<div class="container-fluid">

  <div class="alert alert-info element__top-padding" ng-if="$ctrl.isProcessing()">
    <span class="glyphicon glyphicon-cog gly-spin" aria-hidden="true"></span> Please wait ...
  </div>

  <div class="panel panel-default element__top-padding">
    <div class="panel-heading"><h4>Edit client</h4></div>
    <div class="panel-body">
      <jwt-client-form
        create="false" client-to-update="$ctrl.getClient()" 
        api-error="$ctrl.hasApiError()" api-error-details="$ctrl.getApiErrorDetails()" api-error-message="$ctrl.getApiErrorMessage()" 
        communication-error="$ctrl.hasCommunicationError()" communication-error-message="$ctrl.getCommunicationErrorMessage()" 
        on-cancel="$ctrl.cancel($event)" on-save="$ctrl.save($event)" >
      </jwt-client-form>
    </div>
  </div>

</div> 