<div class="form-group">
    <input ng-keypress="$ctrl.onClientSearch($event)" typeahead-select-on-blur="true" autocomplete="off" placeholder="search" type="text" name="project" ng-model="model.project" placeholder="" uib-typeahead="item.name for item in $ctrl.getLocation($viewValue)"
        typeahead-loading="loadingLocations" typeahead-no-results="noResults" maxlength="30" no-special-char class="input form-control" typeahead-on-select="$ctrl.onSelectionChange($item, $model, $label, $event)">
    <div ng-show="noResults && model.project.length > 0">
        <i class="glyphicon glyphicon-remove"></i> No Results Found
    </div>
</div>