<div class="container">

  <!-- The justified navigation menu is meant for single line per list item.
        Multiple lines will require custom code not provided by Bootstrap. -->
  <div class="masthead">
    <div class="row">
      <div class="col-md-9">
        <h2 class="text-muted">JWT Command Information Center - Managment Console</h2>
      </div>
      <div class="col-md-3">
        <span class="pull-right text-muted"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{$ctrl.getCurrentUser()}}</span>
      </div>
    </div>
    <br />
    <nav>
      <ul class="nav nav-justified">
        <li ng-class="{ active : $ctrl.isClientActive() }"><a ui-sref="app.client-index"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Clients</a></li>
        <li ng-class="{ active : $ctrl.isBrandActive() }"><a ui-sref="app.brand-index"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Brands</a></li>
        <li ng-class="{ active : $ctrl.isLogOffActive() }" class="pointer"><a ng-click="$ctrl.logout()"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Log out</a></li>
      </ul>
    </nav>
  </div>

  <!-- Example row of columns -->
  <div class="row">
    <ui-view></ui-view>
  </div>

  <!-- Site footer -->
  <footer class="footer">
    <p>&copy; 2017 J.Walter Thompson Worldwide</p>
  </footer>

</div> <!-- /container -->