<div ui-view="sidebar"></div>
<div ng-show="$ctrl.viewModel.showHeader" ui-view="questionheader"></div>
<div ui-view=""></div>
<div class="main-rtpanel">
    <div class="main-portion margin-top-15">
        <div id="grid" class="clearfix">
            <div class="grid-sizer"></div>
        </div>
        <div ng-show="$ctrl.viewModel.showWorkspace" ui-view="workspace"></div>
    </div>
</div>

