    <div id="googleHotTrendSelect" ng-class="masonryelementclass">
      <div class="headsection clearfix" >
            <i ng-if="!$ctrl.isWorkspace" ng-class="{' active': $ctrl.isActive}" ng-click="$ctrl.isActive = !$ctrl.isActive;" class="expand icon-jwt-leftbottom-arrow"></i>
      </div>
      <div class="gridmid-section clearfix">
            <div ng-if="$ctrl.isActive && $ctrl.showWorkspaceSelect">
               <jwt-workspace-select jwt-chart-id="'googleTrend'" ></jwt-workspace-select>
            </div>
      </div>
    </div>

<div class="main-rtpanel" ng-class="{'new-wind-rtpanel':$ctrl.isWorkspace}">
  <div class="main-portion margin-top-15">
    <div id="grid" class="clearfix workspace-lower-index">
        <div class="grid-sizer"></div>
        
        <jwt-google-hot-trend-g1 show-workspace-select="$ctrl.viewModel.showWorkspaceSelect" is-workspace="false" jwt-chart-id="'g1'"></jwt-google-hot-trend-g1>
        <jwt-google-hot-trend-g2 show-workspace-select="$ctrl.viewModel.showWorkspaceSelect" is-workspace="false" jwt-chart-id="'g2'"></jwt-google-hot-trend-g2>
        <jwt-google-hot-trend-g3 show-workspace-select="$ctrl.viewModel.showWorkspaceSelect" is-workspace="false" jwt-chart-id="'g3'"></jwt-google-hot-trend-g3>
        <jwt-google-hot-trend-g4 show-workspace-select="$ctrl.viewModel.showWorkspaceSelect" is-workspace="false" jwt-chart-id="'g4'"></jwt-google-hot-trend-g4>
        <jwt-google-hot-trend-g5 show-workspace-select="$ctrl.viewModel.showWorkspaceSelect" is-workspace="false" jwt-chart-id="'g5'"></jwt-google-hot-trend-g5>

        <!--<jwt-workspace-list ng-if="!$ctrl.isWorkspace"></jwt-workspace-list>-->
  </div>
</div>
