<!DOCTYPE html>

<html>
<head>

<meta charset="UTF-8" />
<title>JWT Command Center</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"></link>
<link rel="stylesheet" th:href="@{/css/app.css}"></link>
<!-- Latest compiled and minified JavaScript -->
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

</head>

<body>
	<div class="container">
		<div th:replace="fragments/header :: header">Header</div>
		<div th:replace="${view} :: content">Content</div>
	</div>
	<div th:replace="fragments/footer :: footer">Footer</div>
	
</body>

</html>