<div class="col-sm-12">
    <h5 class="subtitle margin-top-25">Search users</h5>
    <div class="row client client dropdown-autosearch margin-top-20">

        <div class="form-group">

            <div class="col-sm-10">
                <div class="form-group row queries ">
                    <div class="col-sm-7 input-icon-search">
                        <input id="searchUser" ng-disabled="$ctrl.project.length==0" type="text" autocomplete="off" name="client" ng-model="$ctrl.userSearchTxt" placeholder="search" uib-typeahead="item as item.name +' '+item.lastName + ' (' + item.email + ')' for item in $ctrl.getUserList($viewValue,'name')"
                            typeahead-loading="loadingLocations" typeahead-no-results="nofnameResults" class="input form-control" typeahead-on-select="$ctrl.onSelectionChange($item, $model, $label, $event)">
                        <div ng-show="nofnameResults && $ctrl.userSearchTxt!=''">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                        <a href="" class="icon-jwt-search search-icon"></a>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <div id="roleselect" class="selectbox clearfix">
                                <div ng-click="$ctrl.viewModel.showUl = !$ctrl.viewModel.showUl" class="form-selectbox">
                                    <span>{{$ctrl.selectedRole}} <i class="blue-arrow icon-jwt-arrow-down"></i></span>
                                    <ul class="select-list-client" ng-show="$ctrl.viewModel.showUl">
                                        <li ng-repeat="option in $ctrl.userroles track by option.id" ng-click="$ctrl.onUserRoleSelect(option);" ng-if="$ctrl.selectedRole!=option.displayName">{{option.displayName}}</li>

                                    </ul>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button ng-disabled="!$ctrl.validation.assignUser" class="btn btn-primary btn-block" ng-click="$ctrl.assignUser()" type="button">Assign</button>
                    </div>
                </div>
            </div>


        </div>
        <!--<div class="row margin-top-15 bottom-scroll" id="bottom">
        </div>-->

    </div>
</div>